[2017-06-01 02:06] #1766 closed

[2017-06-01 02:07] jameslaws commented on #1789
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:07] jameslaws commented on #1813
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:07] jameslaws commented on #1875
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:07] #1875 closed

[2017-06-01 02:08] jameslaws commented on #1876
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 02:08] #1876 closed

[2017-06-01 02:08] jameslaws commented on #1878
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:08] #1878 closed

[2017-06-01 02:08] jameslaws commented on #1880
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:08] #1880 closed

[2017-06-01 02:09] jameslaws commented on #1882
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:09] #1882 closed

[2017-06-01 02:09] jameslaws commented on #1884
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:09] #1884 closed

[2017-06-01 02:09] jameslaws commented on #1885
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:09] #1885 closed

[2017-06-01 02:10] jameslaws commented on #1886
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:10] #1886 closed

[2017-06-01 02:10] jameslaws commented on #1887
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:10] #1887 closed

[2017-06-01 02:10] jameslaws commented on #1888
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:10] #1888 closed

[2017-06-01 02:11] jameslaws commented on #1889
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:11] #1889 closed

[2017-06-01 02:11] jameslaws commented on #1890
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:11] #1890 closed

[2017-06-01 02:11] jameslaws commented on #1891
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:11] #1891 closed

[2017-06-01 02:11] jameslaws commented on #1892
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:11] #1892 closed

[2017-06-01 02:12] wpnzach commented on #1558
reopening

[2017-06-01 02:12] jameslaws commented on #1893
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 02:12] #1893 closed

[2017-06-01 02:12] wpnzach commented on #1567
Reopening

[2017-06-01 02:12] jameslaws commented on #1894
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:12] #1894 closed

[2017-06-01 02:12] wpnzach commented on #1703
reopening

[2017-06-01 02:12] wpnzach commented on #1789
reopening

[2017-06-01 02:12] jameslaws commented on #1897
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:12] #1897 closed

[2017-06-01 02:12] wpnzach commented on #1813
reopening

[2017-06-01 02:13] jameslaws commented on #1899
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:13] jameslaws commented on #1900
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:13] #1900 closed

[2017-06-01 02:13] jameslaws commented on #1901
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 02:13] #1901 closed

[2017-06-01 02:13] jameslaws commented on #1902
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:13] #1902 closed

[2017-06-01 02:14] jameslaws commented on #1906
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:14] #1906 closed

[2017-06-01 02:14] jameslaws commented on #1909
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:14] #1909 closed

[2017-06-01 02:14] jameslaws commented on #1915
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:14] #1915 closed

[2017-06-01 02:14] jameslaws commented on #1919
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:14] #1919 closed

[2017-06-01 02:18] wpnzach commented on #1899
This is still an issue after conversion, verified when we moved ninjaforms.com over

[2017-06-01 02:24] jameslaws commented on #1899
Can they not be set under the screen options?

[2017-06-01 02:26] wpnzach commented on #1899
The issue is that ALL of them are checked by default after conversion and
it creates support requests from users who don't know how to do that.

On Wed, May 31, 2017 at 10:24 PM James Laws <notifications@github.com>
wrote:

[2017-06-01 02:30] jameslaws commented on #1899
Sure, but it's an easy change in the admin and knowing that submission are soon not going to be handled in the wp list table, I don't see this getting fixed before then.

[2017-06-01 02:33] wpnzach commented on #1899
If we are willing to commit to fixing submissions before we roll this out to the rest of the 2.9 users, then we can close it.  But we can't run any conversions from 2.9 before this is fixed or the submissions are totally reworked....it's a big blocker otherwise because support will blow up.

[2017-06-01 02:36] jameslaws commented on #1984
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:36] #1984 closed

[2017-06-01 02:37] jameslaws commented on #1985
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 02:37] #1985 closed

[2017-06-01 02:37] jameslaws commented on #1986
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:37] #1986 closed

[2017-06-01 02:38] jameslaws commented on #1988
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:38] #1988 closed

[2017-06-01 02:38] jameslaws commented on #1991
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 02:38] #1991 closed

[2017-06-01 02:38] jameslaws commented on #1992
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:38] #1992 closed

[2017-06-01 02:39] jameslaws commented on #1993
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:39] #1993 closed

[2017-06-01 02:39] jameslaws commented on #1994
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:39] #1994 closed

[2017-06-01 02:40] jameslaws commented on #1998
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 02:40] jameslaws commented on #2001
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:40] #2001 closed

[2017-06-01 02:41] jameslaws commented on #2003
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:41] #2003 closed

[2017-06-01 02:41] jameslaws commented on #2010
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:41] #2010 closed

[2017-06-01 02:42] jameslaws commented on #2011
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:42] #2011 closed

[2017-06-01 02:42] jameslaws commented on #2017
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:42] #2017 closed

[2017-06-01 02:42] jameslaws commented on #2018
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:42] #2018 closed

[2017-06-01 02:42] jameslaws commented on #2020
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:42] #2020 closed

[2017-06-01 02:43] jameslaws commented on #2021
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:43] #2021 closed

[2017-06-01 02:43] jameslaws commented on #2025
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:43] #2025 closed

[2017-06-01 02:44] jameslaws commented on #2028
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 02:44] #2028 closed

[2017-06-01 02:44] jameslaws commented on #2030
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 02:44] #2030 closed

[2017-06-01 02:44] jameslaws commented on #2031
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:44] #2031 closed

[2017-06-01 02:45] jameslaws commented on #2034
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:45] #2034 closed

[2017-06-01 02:45] jameslaws commented on #2040
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:45] #2040 closed

[2017-06-01 02:45] jameslaws commented on #2042
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:45] #2042 closed

[2017-06-01 02:47] jameslaws commented on #2084
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:47] #2084 closed

[2017-06-01 02:47] jameslaws commented on #2089
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:47] #2089 closed

[2017-06-01 02:48] jameslaws commented on #2090
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:48] #2090 closed

[2017-06-01 02:48] jameslaws commented on #2091
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:48] #2091 closed

[2017-06-01 02:48] jameslaws commented on #2095
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:48] #2095 closed

[2017-06-01 02:49] jameslaws commented on #2097
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:49] #2097 closed

[2017-06-01 02:49] jameslaws commented on #2098
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:49] #2098 closed

[2017-06-01 02:50] jameslaws commented on #2101
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:50] #2101 closed

[2017-06-01 02:50] jameslaws commented on #2102
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:50] #2102 closed

[2017-06-01 02:51] jameslaws commented on #2103
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:51] #2103 closed

[2017-06-01 02:51] jameslaws commented on #2106
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:51] #2106 closed

[2017-06-01 02:51] jameslaws commented on #2107
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:51] #2107 closed

[2017-06-01 02:52] jameslaws commented on #2109
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:52] #2109 closed

[2017-06-01 02:52] jameslaws commented on #2110
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:52] #2110 closed

[2017-06-01 02:52] jameslaws commented on #2113
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:52] #2113 closed

[2017-06-01 02:53] jameslaws commented on #2116
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:53] #2116 closed

[2017-06-01 02:53] jameslaws commented on #2117
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:53] #2117 closed

[2017-06-01 02:54] jameslaws commented on #2119
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:54] #2119 closed

[2017-06-01 02:54] jameslaws commented on #2122
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:54] #2122 closed

[2017-06-01 02:54] jameslaws commented on #2126
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:54] #2126 closed

[2017-06-01 02:55] jameslaws commented on #2131
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:55] #2131 closed

[2017-06-01 02:55] jameslaws commented on #2132
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:55] #2132 closed

[2017-06-01 02:56] jameslaws commented on #2134
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 02:56] #2134 closed

[2017-06-01 02:56] jameslaws commented on #2139
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:56] #2139 closed

[2017-06-01 02:56] jameslaws commented on #2142
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 02:56] #2142 closed

[2017-06-01 05:25] nickyoung87 commented on #2579
Is this going to be fixed in a release? I am working on a plugin and need data from WP Session to persist. When Ninja Forms is enabled it runs into trouble, but if I uncomment the `$this->set_cookie()` mentioned above then everything works fine. Just curious if it will be added or not so I know what direction I need to take.

[2017-06-01 05:33] nickyoung87 commented on #2579
So yeah it's definitely the issue from that issue on NF GH.

Changing Line 115 of ninja-forms/includes/Libraries/Session/class-wp-session.php to uncommented fixes the problem.

Here is the line pointing at their GH code: https://github.com/wpninjas/ninja-forms/blob/master/includes/Libraries/Session/class-wp-session.php#L115

I commented on their issue to see if they plan on getting it into a relea

[2017-06-01 06:05] wloske commented on #1487
This is a meh thread ;-/
About a year old and not one single piece of action on the topic.

[2017-06-01 13:14] wpnzach commented on #1998
Still an issue

[2017-06-01 14:05] #2737 closed

[2017-06-01 14:06] kstover commented on #1817
Closed in favour of a custom REST implementation, since hosts can disable the WP REST API altogether.

[2017-06-01 14:06] #1817 closed

[2017-06-01 14:07] kstover commented on #2208
Moving "Enhancements" and "Feature Requests" to a custom Trello board.

[2017-06-01 14:07] #2208 closed

[2017-06-01 14:09] #1929 closed

[2017-06-01 14:11] #1858 closed

[2017-06-01 14:11] kstover commented on #1815
Closed in favour of investigating a new JS library.

[2017-06-01 14:11] #1815 closed

[2017-06-01 14:12] #2052 closed

[2017-06-01 14:12] kstover commented on #2145
Closing in favour of an holistic approach to CI Testing.

[2017-06-01 14:12] #2145 closed

[2017-06-01 14:12] kstover commented on #2155
Done.

[2017-06-01 14:12] #2155 closed

[2017-06-01 14:12] #2160 closed

[2017-06-01 14:13] #2171 closed

[2017-06-01 14:13] #2407 closed

[2017-06-01 14:13] #2651 closed

[2017-06-01 14:14] kstover commented on #1852
Fixed in a new version.

[2017-06-01 14:14] #1852 closed

[2017-06-01 14:15] kstover commented on #1866
Fixed in a new version.

[2017-06-01 14:15] #1866 closed

[2017-06-01 14:15] kstover commented on #1972
Fixed in a new version.

[2017-06-01 14:15] #1972 closed

[2017-06-01 14:15] #2059 closed

[2017-06-01 14:16] #2082 closed

[2017-06-01 14:16] #2161 closed

[2017-06-01 14:16] kstover commented on #2373
Should be fixed in the latest version with up to date Layout & Styles / Multi-Part Forms.

[2017-06-01 14:16] #2373 closed

[2017-06-01 14:17] #2430 closed

[2017-06-01 14:18] kstover commented on #2634
Fixed in the newest version.

[2017-06-01 14:18] #2634 closed

[2017-06-01 14:19] kstover commented on #1874
Should be fixed in the current version.

[2017-06-01 14:19] #1874 closed

[2017-06-01 14:29] kstover commented on #2465
Added in a recent version by @Much2tall

[2017-06-01 14:29] #2465 closed

[2017-06-01 14:30] kstover commented on #2410
Closing and moving to the file uploads repository.

[2017-06-01 14:30] #2410 closed

[2017-06-01 14:31] kstover commented on #2744
This should be taken care of in the latest version. If you try it out and it doesn't work, please feel free to re-open this ticket.

[2017-06-01 14:31] #2744 closed

[2017-06-01 14:37] kstover commented on #1862
If this is still an issue, please re-open. We're trying to wrangle our GitHub issues, and this one isn't clear to me.

[2017-06-01 14:37] #1862 closed

[2017-06-01 14:38] kstover commented on #1931
This should be fixed in the latest version of Conditional Logic and Ninja Forms. If you still have this issue, please create a support ticket at ninjaforms.com.

[2017-06-01 14:38] #1931 closed

[2017-06-01 14:39] #1953 closed

[2017-06-01 14:39] #1958 closed

[2017-06-01 14:40] kstover commented on #1959
Fixed by changing the key generation to a timestamp.

[2017-06-01 14:40] #1959 closed

[2017-06-01 14:40] #1960 closed

[2017-06-01 14:40] #1961 closed

[2017-06-01 14:40] #1969 closed

[2017-06-01 14:45] kstover commented on #1998
This is a feature request/enhancement. This can be really unpredictable, because it deals with PHP sessions or JS cookies.

[2017-06-01 14:46] kstover commented on #2051
This should be fixed with the latest version of Conditional Logic. If it isn't, please create a support ticket on our site ninjaforms.com.

[2017-06-01 14:46] #2051 closed

[2017-06-01 14:48] kstover commented on #2056
Hey @leecollings, could you open up a support ticket on our site: ninjaforms.com if this is still an issue?

[2017-06-01 14:48] #2056 closed

[2017-06-01 14:49] kstover commented on #2057
Hey @leecollings, @ryanaddams, could you open up a support ticket on our site: ninjaforms.com if this is still an issue?

[2017-06-01 14:49] #2057 closed

[2017-06-01 14:50] kstover commented on #2068
If this is still an issue, please feel free to re-open it.

[2017-06-01 14:50] #2068 closed

[2017-06-01 14:52] #2072 closed

[2017-06-01 14:52] #2073 closed

[2017-06-01 14:52] #2080 closed

[2017-06-01 14:52] #2154 closed

[2017-06-01 14:52] #2156 closed

[2017-06-01 14:54] kstover commented on #2191
Hey @Chris1777, Sorry for the super-delayed response. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 14:54] #2191 closed

[2017-06-01 14:55] kstover commented on #2193
Hey @ricemann, Sorry for the super-delayed response. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 14:55] #2193 closed

[2017-06-01 14:57] kstover commented on #2201
I'm not sure how Summernote (the RTE we use) supports this. We'll have to investigate further.

[2017-06-01 14:58] kstover commented on #2238
Hey @a00andos, Sorry for the super-delayed response. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 14:58] #2238 closed

[2017-06-01 14:59] kstover commented on #2239
Hey guys, Sorry for the super-delayed response. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 14:59] #2239 closed

[2017-06-01 14:59] kstover commented on #2248
@polevaultweb If this is still an issue, please re-open this issue.

[2017-06-01 14:59] #2248 closed

[2017-06-01 15:00] kstover commented on #2249
This should be fixed in the latest version of Ninja Forms. If it isn't, feel free to re-open this issue.

[2017-06-01 15:00] #2249 closed

[2017-06-01 15:00] #2258 closed

[2017-06-01 15:01] kstover commented on #2260
@isleshocky77 Does this happen if you have a 0 (zero) as the first option?

[2017-06-01 15:03] kstover commented on #2277
@polevaultweb Can you submit a PR?

[2017-06-01 15:04] kstover commented on #2305
Hey @zietbukuel, Sorry for the super-delayed response. This should be taken care of in the latest version of Ninja Forms. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 15:04] #2305 closed

[2017-06-01 15:05] #2308 closed

[2017-06-01 15:07] kstover commented on #2322
Hey @binarykitchen, Sorry for the super-delayed response. If this is still an issue, please hop into our developer slack for more discussion.

[2017-06-01 15:07] #2322 closed

[2017-06-01 15:07] kstover commented on #2333
Hey @Chris1777, Sorry for the super-delayed response. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 15:07] #2333 closed

[2017-06-01 15:08] kstover commented on #2334
Hey @binarykitchen , Sorry for the super-delayed response. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 15:08] #2334 closed

[2017-06-01 15:08] kstover commented on #2344
Thanks for the report; I'll pass this along to the developer of the caching system.

[2017-06-01 15:09] #2347 closed

[2017-06-01 15:09] #2352 closed

[2017-06-01 15:10] kstover commented on #2354
This is most likely happening because the_content is being passed through wp_autop. Your theme is running this on all the content. We're working on ways to mitigate this, but the best way is to remove the hook in your theme.

Once we have a fix for this, I'll update this issue.

[2017-06-01 15:10] #2354 closed

[2017-06-01 15:11] kstover commented on #2370
Closing in favour of a new refactor of Product fields.

[2017-06-01 15:11] #2370 closed

[2017-06-01 15:13] kstover commented on #2414
Hey @ivan-demchenkov , Sorry for the super-delayed response. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 15:13] #2414 closed

[2017-06-01 15:16] kstover commented on #2424
Hey @Chris1777, Sorry for the super-delayed response. Your best bet would be to join our developer Slack at developer.ninjaforms.com/slack. We have done a poor job of managing issues here on GitHub.

[2017-06-01 15:16] #2424 closed

[2017-06-01 15:17] kstover commented on #2432
This issue should be added to the PayPal repo rather than Ninja Forms core.

[2017-06-01 15:17] #2432 closed

[2017-06-01 15:17] #2475 closed

[2017-06-01 15:18] #2487 closed

[2017-06-01 15:20] kstover commented on #2490
I think that this would need a step processor, as several thousand submissions could be present.

[2017-06-01 15:20] #2493 closed

[2017-06-01 15:20] #2500 closed

[2017-06-01 15:21] #2517 closed

[2017-06-01 15:22] kstover commented on #2545
@FlyingDR Can you provide a PR for the update of the .gitignore?

[2017-06-01 15:22] bobhuf opened #2773 "response msg is empty when logged out"
My ajax form (2.9), totally standard, has an empty ninja-forms-response-msg div when successfully submitted. Everything else behaves as expected.

Wat could be the problem?

[2017-06-01 15:24] kstover commented on #2547
The new dashboard should address this with a filter and the ability to sort. If this is still an issue, feel free to re-open this issue.

[2017-06-01 15:24] #2547 closed

[2017-06-01 15:25] kstover commented on #2559
HI @lukeswitz Can you give me some more detail about your form setup? Is this related strictly to calculations? I'm afraid we need more data to help figure out what's going on.

[2017-06-01 15:26] kstover commented on #2559
Hey @lukeswitz , Sorry for the super-delayed response. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 15:26] #2559 closed

[2017-06-01 15:27] kstover commented on #2567
Hey @jlambe , Sorry for the super-delayed response. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 15:27] #2567 closed

[2017-06-01 15:27] kstover commented on #2568
Hey @jlambe , Sorry for the super-delayed response. If this is still an issue, please open a support ticket on our site: ninjaforms.com.

[2017-06-01 15:27] #2568 closed

[2017-06-01 15:28] kstover commented on #2575
We're working on new flow for processing. @polevaultweb This is definitely on our radar. I'm doing to close this issue to help remove noise in the GitHub repo.

[2017-06-01 15:28] #2575 closed

[2017-06-01 15:31] kstover commented on #2621
Hey @wloske, I think the best way to get this taken care of would be to visit our Slack group for developers: developer.ninjaforms.com/slack. Join us there and we can get this answered for you. Ping @kjohnson when you get there.

[2017-06-01 15:31] #2621 closed

[2017-06-01 15:31] #2626 closed

[2017-06-01 15:31] #2629 closed

[2017-06-01 15:31] lukeswitz commented on #2559
Seemed to be a transient option from migration in the calculations table. Did a complete rebuild and fixed other problems as well. Cheers.

[2017-06-01 15:32] kstover commented on #2644
Hi @splurtcake, you can use .val() instead of .attr() and it should update the value properly for you.

[2017-06-01 15:32] #2644 closed

[2017-06-01 15:32] #2659 closed

[2017-06-01 15:32] #2665 closed

[2017-06-01 15:32] #2613 closed

[2017-06-01 15:32] #2581 closed

[2017-06-01 15:33] ricemann commented on #2320
Actually, the validation isn't working with two forms @ same page with version 3.1.3 as well. I think it is a significant issue - when designers use jquery to hide the inactive form. It can be hard to track down the issue.

[2017-06-01 15:34] jameslaws commented on #2369
feature

[2017-06-01 15:34] #2369 closed

[2017-06-01 15:34] kstover commented on #2675
@binarykitchen Backbone has a "reset" event that runs whenever a collection is reset. I'm going to close this issue in favour of our developer slack. That's a much better place to ask these kinds of questions. developer.ninjaforms.com/slack.

[2017-06-01 15:34] #2675 closed

[2017-06-01 15:36] kstover commented on #2685
As @Much2tall suggested, could you join our slack group and ask these questions there? GitHub isn't a great place to ask these kinds of questions. I'm going to close this issue and point you there.

[2017-06-01 15:36] #2685 closed

[2017-06-01 15:36] #2726 closed

[2017-06-01 15:36] kstover commented on #2728
I think that this would be a great idea, but not sure when we'd be able to get it implemented. Pull Requests welcomed. :)

[2017-06-01 15:37] #2363 closed

[2017-06-01 15:38] kstover commented on #2732
Hey @Kengchin, this would be a question best asked in our developer slack group, as it would require custom development to achieve. You can join that group here: developer.ninjaforms.com/slack.

[2017-06-01 15:38] #2732 closed

[2017-06-01 15:39] #2346 closed

[2017-06-01 15:39] jameslaws commented on #2331
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 15:39] #2331 closed

[2017-06-01 15:40] kstover commented on #2734
This isn't something that we can do because Conditional Logic expects that the value of a condition is always the key of the field. Using the merge tag system would be great for some users, but would make it much too easy to break the condition for a majority of our users. This would increase the amount of time we have to spend in support for Conditional Logic.

[2017-06-01 15:40] #2734 closed

[2017-06-01 15:40] #2313 closed

[2017-06-01 15:41] #2243 closed

[2017-06-01 15:41] kstover commented on #2750
@karpadiem Yup, the delete link SHOULD remove all fields associated with a form.

I have had this issue before when running several versions of Ninja Forms on my test site, but usually that involves having lots of 2.9.x installs and forms as well.

[2017-06-01 15:42] kstover commented on #2773
Hey @bobhuf, the best place to get support is through our support form. Please open a support ticket on our site: ninjaforms.com.

[2017-06-01 15:42] #2773 closed

[2017-06-01 15:43] jameslaws commented on #2187
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 15:43] #2187 closed

[2017-06-01 15:44] jameslaws commented on #2162
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 15:44] #2162 closed

[2017-06-01 15:45] #2144 closed

[2017-06-01 15:46] X-Raym commented on #2162
@jameslaws Ok, I understand, but how initial bug or feature request writer will be able to update, discuss or get news about their ticket ?

[2017-06-01 15:47] #2076 closed

[2017-06-01 15:49] #1850 closed

[2017-06-01 15:51] jameslaws commented on #2731
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 15:51] #2731 closed

[2017-06-01 15:51] jameslaws commented on #2752
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 15:52] jameslaws commented on #2745
feature

[2017-06-01 15:52] #2745 closed

[2017-06-01 15:53] jameslaws commented on #2745
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 15:55] jameslaws commented on #2742
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 15:55] #2742 closed

[2017-06-01 15:56] jameslaws commented on #2674
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 15:56] #2674 closed

[2017-06-01 15:57] jameslaws commented on #2655
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 15:57] #2655 closed

[2017-06-01 15:59] jameslaws commented on #2652
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:31] kstover opened #2774 "Test Issue"
This is a test issue.

[2017-06-01 16:39] #2774 closed

[2017-06-01 16:43] jameslaws commented on #2162
Bugs are handled here still. Feature requests are business decisions and when implemented it would be explained in the changelogs and newsletters.

[2017-06-01 16:46] #2752 closed

[2017-06-01 16:48] jameslaws commented on #2729
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:48] #2729 closed

[2017-06-01 16:48] #2735 closed

[2017-06-01 16:48] #2652 closed

[2017-06-01 16:49] jameslaws commented on #2728
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:49] #2728 closed

[2017-06-01 16:49] kstover commented on #2649
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:49] #2649 closed

[2017-06-01 16:49] jameslaws commented on #2708
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:49] #2708 closed

[2017-06-01 16:50] kstover commented on #2637
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:50] #2637 closed

[2017-06-01 16:50] kstover commented on #2576
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:50] #2576 closed

[2017-06-01 16:50] jameslaws commented on #2673
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:50] #2673 closed

[2017-06-01 16:51] kstover commented on #2554
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:51] jameslaws commented on #2618
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 16:51] #2618 closed

[2017-06-01 16:51] kstover commented on #2540
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:51] #2540 closed

[2017-06-01 16:52] jameslaws commented on #2602
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 16:52] #2602 closed

[2017-06-01 16:52] jameslaws commented on #2566
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:52] #2566 closed

[2017-06-01 16:53] kstover commented on #2536
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:53] #2536 closed

[2017-06-01 16:53] jameslaws commented on #2553
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:53] #2553 closed

[2017-06-01 16:53] kstover commented on #2533
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:54] kstover commented on #2523
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:54] #2523 closed

[2017-06-01 16:54] jameslaws commented on #2551
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:54] #2551 closed

[2017-06-01 16:54] kstover commented on #2520
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:54] #2520 closed

[2017-06-01 16:55] kstover commented on #2504
Secure Forms Add-on does this.

[2017-06-01 16:55] #2504 closed

[2017-06-01 16:56] kstover commented on #2467
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:56] #2467 closed

[2017-06-01 16:56] kstover commented on #2446
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:56] #2446 closed

[2017-06-01 16:57] kstover commented on #2307
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 16:57] #2307 closed

[2017-06-01 16:58] jameslaws commented on #2518
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 16:58] #2518 closed

[2017-06-01 16:58] kstover commented on #2297
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 16:58] #2297 closed

[2017-06-01 16:58] jameslaws commented on #2497
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 16:58] #2497 closed

[2017-06-01 16:58] kstover commented on #2274
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 16:58] #2274 closed

[2017-06-01 16:59] #2496 closed

[2017-06-01 16:59] kstover commented on #2264
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 16:59] #2264 closed

[2017-06-01 16:59] jameslaws commented on #2491
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 16:59] #2491 closed

[2017-06-01 16:59] kjohnson opened #2775 "Merge Tag system causing a memory leak in the builder"

[2017-06-01 16:59] kstover commented on #2177
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 16:59] #2177 closed

[2017-06-01 17:00] jameslaws commented on #2482
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 17:00] #2482 closed

[2017-06-01 17:00] kstover commented on #2159
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 17:00] #2159 closed

[2017-06-01 17:01] kstover commented on #2071
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 17:01] #2071 closed

[2017-06-01 17:01] kstover commented on #1860
g]Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to a

[2017-06-01 17:01] #1860 closed

[2017-06-01 17:02] kstover commented on #1857
g]Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to a

[2017-06-01 17:02] #1857 closed

[2017-06-01 17:02] kstover commented on #1846
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 17:02] #1846 closed

[2017-06-01 17:03] jameslaws commented on #2285
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed, but if you can confirm this as an actual current bug in the 3.x codebase and the new UI, please re-open or comment and we will review it.

[2017-06-01 17:03] #2285 closed

[2017-06-01 17:03] kstover commented on #1818
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 17:03] #1818 closed

[2017-06-01 17:07] jameslaws commented on #2235
This looks pretty decent. Could you submit that as PR for further development.

[2017-06-01 17:07] #2233 closed

[2017-06-01 17:07] kstover commented on #2721
This shouldn't be happening with the newest version of core. If you can recreate this with versions >= 3.1.2, please re-open this issue.

[2017-06-01 17:07] #2721 closed

[2017-06-01 17:08] jameslaws commented on #2206
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remdy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necesarily a development decision. This request has been transferred to an in

[2017-06-01 17:08] #2206 closed

[2017-06-01 17:11] kstover commented on #1813
I'm closing this because we are working on a complete builder re-write that will most likely use a different drag and drop library.

[2017-06-01 17:11] #1813 closed

[2017-06-01 17:13] kstover commented on #1825
Is this an issue with version 3.1.2?

[2017-06-01 17:14] kstover commented on #1998
I'm moving this over to our internal feature request tracker.

[2017-06-01 17:14] #1998 closed

[2017-06-01 17:15] kstover commented on #2069
Moved to the internal feature request tracker.

[2017-06-01 17:15] #2069 closed

[2017-06-01 17:16] kstover commented on #2070
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 17:16] #2070 closed

[2017-06-01 17:17] kstover commented on #2158
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 17:17] #2158 closed

[2017-06-01 17:18] kstover commented on #2190
This would be a bit tricky, as we use an external library for input masking. I'm adding it to our feature request internal tracker?

[2017-06-01 17:18] #2190 closed

[2017-06-01 17:19] kstover commented on #2201
Issues in this repo have become unwieldy and in many cases unreliable at identifying actual problems. In a first step to start to remedy this we are doing a clean up of older issues.

This is issue is being closed because we have decided not to maintain feature requests inside of GitHub as it’s a business decision and not necessarily a development decision. This request has been transferred to an

[2017-06-01 17:19] #2201 closed

[2017-06-01 17:20] #2204 closed

[2017-06-01 17:21] kstover commented on #2538
@kjohnson What do we think about this?

[2017-06-01 17:43] pderksen commented on #2579
@kstover @kjohnson Thanks for looking into this. @nickyoung87 is the main developer on WP Simple Pay Pro 3 which is nearly out of beta and currently it's incompatible for the reason he mentioned.

If you'd like a copy and license for our plugin to check compatibility and code let me know or shoot me an email (phil AT wpsimplepay.com). Thanks!

[2017-06-01 18:24] #1954 closed

[2017-06-01 18:40] wssmichael commented on #2467
this is the 3rd time i've received an email about this today... please i
get it, stop

Thanks,

Michael Barker
Owner - WorkSpace Solutions, LLC
(720) 432-0211
michael@workspacepros.com
http://workspacepros.com

On Thu, Jun 1, 2017 at 12:56 PM, Kevin Stover <notifications@github.com>
wrote:

[2017-06-01 18:58] klhall1987 commented on #1298
I was able to replicate this issue in the current version of Ninja Forms.

[2017-06-01 18:59] #1864 closed

[2017-06-01 19:04] klhall1987 commented on #2045
This was fixed in the calculations refactor.

[2017-06-01 19:04] #2045 closed

[2017-06-01 19:11] klhall1987 commented on #2046
This seems to be working now.

[2017-06-01 19:11] #2046 closed

[2017-06-01 19:15] klhall1987 commented on #2075
This seems to be fixed.

[2017-06-01 19:15] #2075 closed

[2017-06-01 19:16] #2189 closed

[2017-06-01 19:17] #2287 closed

[2017-06-01 19:22] klhall1987 commented on #2400
This has been fixed.

[2017-06-01 19:22] #2400 closed

[2017-06-01 19:25] #2416 closed

[2017-06-01 19:26] #2440 closed

[2017-06-01 19:26] klhall1987 commented on #2440
This isse seems to be resolved.

[2017-06-01 19:29] #2441 closed

[2017-06-01 19:31] #2460 closed

[2017-06-01 19:34] klhall1987 commented on #2527
This is still an issue that needs to be resolved.

[2017-06-01 19:37] klhall1987 commented on #2548
This is still a bug.

[2017-06-01 19:37] #2558 closed

[2017-06-01 19:39] #2605 closed

[2017-06-01 19:41] klhall1987 commented on #2697
This is still an issue.

[2017-06-01 19:42] #2706 closed

[2017-06-01 19:42] klhall1987 commented on #2717
This is still an issue.

[2017-06-01 19:48] klhall1987 commented on #2733
This is still an issue.

[2017-06-01 19:49] klhall1987 commented on #2741
This is till an issue.

[2017-06-01 19:49] klhall1987 commented on #2749
This is still an issue.

[2017-06-05 13:52] #1849 closed

[2017-06-05 15:03] jmcelhaney opened #2777 "Add Option for Palceholder text in the Datepicker field."
Add Option for Palceholder text in the Datepicker field.

[2017-06-05 15:59] kjohnson commented on #2336
Another report of this issue by [Anthony](https://wpninjas.kustomerapp.com/app/customers/5931bf578c759b00101cc5b4/event/5930cb20478904001279f708).

Adding this bug to the next development sprint.

[2017-06-06 13:00] #2775 closed

[2017-06-06 17:43] klhall1987 opened #2778 "Credit Card Information is being displayed in CSV's that are sent via the email action"
Credit Card information is being displayed in CSVs that are sent via the email action.

[2017-06-06 18:28] klhall1987 opened #2780 "Fields not showing up in the merge tag list until the form is reloaded."
Any new field that is create does not show up in the merge tag field list until the form is reloaded.

Replication Steps:
1. on a new form add a first name field.
2. Go to the emails and actions tab and open the email action.
3. Open the merge tag menu and you will see that the field doesn't exist.

[2017-06-06 18:45] kjohnson commented on #2780
Regression introduced by #2776.

[2017-06-06 18:53] RashmiRagupalV opened #2782 "Unable to delete a Ninja form"
Hello,

I created some test Ninja forms while I was working on Ninja forms; now i want to delete them.
When I click on the icon next to Date Created to delete a form, nothing happens, the form still stays there. As a result, I just have some unused forms.

Please advice.

[2017-06-07 05:50] disinfor commented on #2187
Also seeing the same issue:
`echo apply_filters( 'the_content', get_post_field( 'post_content', $id ) );`

![screen shot 2017-06-07 at 12 48 35 am](https://user-images.githubusercontent.com/10200724/26863956-3070989a-4b1b-11e7-8d1f-ac8cc4f33be3.png)

[2017-06-08 14:33] kstover commented on #1829
Hey @DustinWStout, is this still an issue in the current version of Ninja Forms?

[2017-06-08 14:36] #1872 closed

[2017-06-08 14:37] kstover commented on #1873
Closed as a duplicate of https://github.com/wpninjas/ninja-forms/issues/1488

[2017-06-08 14:37] #1873 closed

[2017-06-08 14:39] #1923 closed

[2017-06-08 14:39] #1930 closed

[2017-06-08 14:40] kstover commented on #1934
@dud3sweet @thinkcodenyc

Is this still an issue in the current version of Ninja Forms?

I can't replicate locally.

[2017-06-08 14:41] #1946 closed

[2017-06-08 14:42] kstover commented on #1946
Should be fixed in the current version of Ninja Forms.

[2017-06-08 14:42] jmcelhaney opened #2783 "Add option to render a smaller recaptcha"
Add option to render a smaller recaptcha for narrow forms.

https://developers.google.com/recaptcha/docs/display#render_param
**g-recaptcha tag attribute** - data-size
**grecaptcha.render parameter** - size
**Values** - compact, normal
**Default Value** - normal
**Description** - The size of the widget

[2017-06-08 14:43] kstover commented on #1947
Appears to be fixed in the current version of Ninja Forms.

[2017-06-08 14:43] #1947 closed

[2017-06-08 14:45] kstover commented on #1981
Can reproduce. Looks like it never resets to 10/10. An empty textarea is showing as one word. I can actually write ten words, but the counter label is off.

[2017-06-08 14:49] kstover commented on #1983
This issue should be taken care of in the current version of Ninja Forms; there was an encoding issue with the form that was saved. If you are still having this issue, please feel free to re-open this issue with the collation type of your database tables.

[2017-06-08 14:49] #1983 closed

[2017-06-08 14:50] #2043 closed

[2017-06-08 14:51] #2063 closed

[2017-06-08 14:53] kstover commented on #2079
Closing this for future discussion of where calculation merge tags should show up.

[2017-06-08 14:53] #2079 closed

[2017-06-08 14:54] #2178 closed

[2017-06-08 15:04] kstover commented on #2260
I've confirmed that this is an issue locally.

[2017-06-08 15:05] kstover commented on #2266
@abr669 I can't replicate this locally. Can you test in the current version and get back to me?

[2017-06-08 15:13] kstover commented on #2339
I'm going to close this in favour of doing a deep dive into working properly with network activation. I will open an issue for that if it doesn't exist.

[2017-06-08 15:13] #2339 closed

[2017-06-08 15:22] kstover commented on #2428
@Quay3 This needs to be moved over to the Conditional Logic repo. If you could do so, that'd be awesome.

[2017-06-08 15:22] #2428 closed

[2017-06-08 15:22] kstover commented on #2438
Closing until we hear back from CF7.

[2017-06-08 15:22] #2438 closed

[2017-06-08 15:28] kstover commented on #2516
This is being caused by the fact that the character count does not react to default values. There is an issue for it already. Closing this one.

[2017-06-08 15:28] #2516 closed

[2017-06-08 15:30] #2532 closed

[2017-06-08 15:33] kstover commented on #2583
This has been closed in a recent PR. The name "Anonymous" is used if no user ID is found.

[2017-06-08 15:33] #2583 closed

[2017-06-08 15:34] kstover commented on #2631
Closed as a duplicate.

[2017-06-08 15:34] #2631 closed

[2017-06-08 15:37] #2720 closed

[2017-06-08 15:37] #2730 closed

[2017-06-08 15:38] kstover commented on #2746
This should be taken care of in a recent PR. Closing this issue, but if you still see the unreachable code, please feel free to re-open so that we can investigate further.

[2017-06-08 15:38] #2746 closed

[2017-06-08 15:39] kstover commented on #2750
@karpadiem I think I know what's going on here. It's related to an issue with form caches not being removed when a form is deleted. Once that is fixed, this should be taken care of. Going to close this issue.

[2017-06-08 15:39] #2750 closed

[2017-06-08 15:45] kstover commented on #1937
Users who use jQuery.val() should not have this problem. I'm going to close this because it should be taken care of by a recent monkey-patch for jQuery.val() function if it's a Ninja Forms element.

[2017-06-08 15:45] #1937 closed

[2017-06-08 15:45] kstover commented on #1948
I'm going to move this issue to the Layout & Style repo, as it's an issue with that add-on.

[2017-06-08 15:45] #1948 closed

[2017-06-08 15:46] #2058 closed

[2017-06-08 15:47] kstover commented on #2061
@isleshocky77 I think that the best solution would be to update how our code handles inserting the creation date, not the SQL column type.

If you can submit a PR, I'll get it merged.

[2017-06-08 15:49] kstover commented on #2244
We recently did some upgrades to product fields and non-english locales.

@Quay3 Can you test again with the current version of Ninja Forms?

[2017-06-08 15:49] kstover commented on #2282
Closed as a duplicate.

[2017-06-08 15:49] #2282 closed

[2017-06-08 15:52] #2426 closed

[2017-06-08 15:55] kstover commented on #2442
Moving over to the private repo for User Management.

[2017-06-08 15:55] #2442 closed

[2017-06-08 16:06] kstover commented on #2623
Just tested locally, and it should be working in the latest version of Ninja Forms.

[2017-06-08 16:06] #2623 closed

[2017-06-08 16:11] isleshocky77 commented on #2061
@kstover Submitted. Seems to work properly in my quick testing.

[2017-06-08 16:13] kstover commented on #2760
@Much2tall can you give more context to this issue? I'm not sure how to classify this.

[2017-06-08 16:23] kstover commented on #2648
I cannot reproduce this on the current version of Ninja Forms. If this is still an issue, please feel free to re-open this issue.

[2017-06-08 16:24] kstover commented on #2741
Closing as a duplicate.

[2017-06-08 16:24] #2741 closed

[2017-06-08 16:25] #2778 closed

[2017-06-08 16:28] #2399 closed

[2017-06-09 13:52] Much2tall opened #2785 "Field Collection loses track of Form Model on reset"

[2017-06-09 13:55] #2785 closed

[2017-06-09 15:29] wickedpuppy commented on #2354
I've just submitted a pull request where I just minified the offending js.

I still believe that that js belongs elsewhere but, as for now, this fixes the issue, at least temporarily.

Please, merge.

[2017-06-12 13:57] kstover commented on #2782
Could you submit a pull request on our site? This repo is for tracking issues that are known bugs with reproduction steps.

[2017-06-12 13:57] kstover commented on #2782
https://ninjaforms.com/contact/

[2017-06-12 13:57] #2782 closed

[2017-06-12 14:35] thomasfw opened #2788 "No end of issues whilst previewing forms"
We've decided to implement Ninja Forms and were surprised to see a number of issues right away after installing the plugin and doing some testing.

---

### The preview functionality messes with other post loops

When in NF preview mode, post loops that are running on the same page (e.g. a loop in a sidebar widget or on the page footer) are completely wrecked. Amongst other issues, it looks like t

[2017-06-12 14:40] thomasfw commented on #2788
Looks like most of this stems from the `NF_Display_Preview` class overriding everything, e.g:

[code]

[code]

..seems a bit clumsy

[2017-06-12 17:00] sterlingken commented on #2580
I have noticed this issue as well. I'm running 3.1.4.

[2017-06-12 19:14] kstover commented on #2788
We are currently working on improving how we handle form previews. It can be a bit tricky to show an accurate preview for all our users in every possible theme setup in the WordPress ecosystem.

For the specifics of what we're doing, @kjohnson would need to respond, as he's the dev working on that particular feature.

[2017-06-12 19:27] kjohnson commented on #2788
@thomasfw the Preview Page does overwrite everything. The issue that this tries to solve is that different themes display content in different ways.

The preview system hooks into `the_content` and tries to find a place to display the form.

While this may be overreaching, this approach has yielded that largest coverage of theme support, thus far.

We are certainly looking to improve the system, b

[2017-06-12 20:09] kjohnson commented on #2780
Open PR (#2781) needs to be updated to cover calcs.

[2017-06-13 10:31] thomasfw commented on #2788
Just looking at the cause of the database error I mentioned above. Are you guys aware that you're directly injecting url parameters into the sql query?

[code]
https://github.com/wpninjas/ninja-forms/blob/master/includes/Display/Render.php#L91

[2017-06-13 11:03] jameslaws commented on #2788
Can you clarify what you are referring too. The line you shared doesn't write to the database, it simply queries the database and then counts the number of rows returned.

[2017-06-13 11:59] kstover commented on #2235
@kjohnson Can you take a look at this?

[2017-06-13 12:18] kstover commented on #2788
@jameslaws I think it could still theoretically be used to add some malevolent SQL stuff. A simple solution would be to run $form_id through an absint() at the beginning of that function and the localise preview function.

[2017-06-13 12:22] kstover commented on #2788
Patched in develop here: https://github.com/wpninjas/ninja-forms/commit/d41d2d3c65b3587fd172dc4a165ec9f6dc0a36f1

[2017-06-13 18:04] wpnzach opened #2790 "Query string merge tags should not populate if query string not present."
To reproduce, add a query string merge tag to a field.

When query string is present, that value will be in the field.  When query string isn't present, the merge tag gets displayed on the form and saved in submissions, causing very broken feeling behavior and leading to user complaints.

![593ef2d394653f1200673cee](https://user-images.githubusercontent.com/7498743/27097130-44a61634-5041-11e7-947d

[2017-06-13 18:12] kstover commented on #2608
@jerowe I think that this may be related to another issue about Ninja Forms being too aggressive with REST Endpoints. I can't seem to locate that issue at the moment, but I think it might take care of this one.

[2017-06-13 18:15] kstover commented on #2600
Hey all.

The MergeTag warning shouldn't cause custom actions to fail. Could you give an example of the code you have written for those custom actions and how they are hooked in?

A system status from Ninja Forms->Get Help would go a long way to tracking this down as well.

[2017-06-13 18:16] kstover commented on #2582
The undefined index issue should be taken care of in the latest version.

Sorry for missing this issue until just now.

If it still presents itself, please feel free to re-open this ticket.

[2017-06-13 18:16] #2582 closed

[2017-06-13 18:19] kstover commented on #2580
The part of the error mentioned by the OP that causes the problem isn't the google recaptcha. It is the 'fields' of undefined line.

I think we'd need more data to really troubleshoot this. If you could submit a ticket through our support form, that'll help us gather the data we need. https://ninjaforms.com/contact/

This isn't a great place to track down bugs, because we may need to get some non-

[2017-06-13 18:19] #2580 closed

[2017-06-13 18:20] kstover commented on #2580
Closing this issue for now. If we are able to track down the bug with consistent reproduction steps, we can create a new issue or re-open this one while we work on it.

[2017-06-13 18:21] kstover commented on #2579
@kjohnson - Can you give me an update on the status of this issue?

@pderksen - That would be awesome.

@nickyoung87 - Thanks for your input. Hopefully we can squash this stupid thing once and for all.

[2017-06-13 19:17] kstover commented on #2422
I don't think that the settings for the action should be returned unless the user is logged-in as an admin.

[2017-06-13 19:18] #2324 closed

[2017-06-13 19:20] #2271 closed

[2017-06-13 19:20] #2269 closed

[2017-06-13 19:24] kstover commented on #2214
@mstearne - Could you submit this as a PR?

[2017-06-13 19:26] #1856 closed

[2017-06-13 20:30] kjohnson commented on #2579
@kstover I'm looking into it as a part of this sprint.

[2017-06-13 20:35] kjohnson commented on #2790
Only seems to be an issue for `published` forms, as opposed to `previews`.

[2017-06-13 21:30] kjohnson commented on #2579
@kstover I just opened #2792.

/cc @pderksen, @nickyoung87, @ericnicolaas

[2017-06-13 23:35] nickyoung87 commented on #2579
@kjohnson If it helps. We use it to display payment details (like the amount, item name, etc) after a page redirect. So that is why when it gets cleared it messes with our stuff, because the data gets cleared out and our redirect page will tell us we have an error because that data no longer exists.

[2017-06-14 01:55] jerowe commented on #2608
Has that issue been resolved? If it has I could give it a go and see.

On Tue, Jun 13, 2017 at 10:13 PM Kevin Stover <notifications@github.com>
wrote:

[2017-06-14 11:42] ptyskju opened #2793 "Problem with max quantity of product"
Hello!
I think there is something wrong with max quantity for product. On my page I want to create form with ability to receive max 50 tickets for event. So I am placing product into form - a ticket, with disabled quantity field. Next, I am placing new input - quantity, and I am setting min = 1 and max = 50. After saving input and placing it on page to test form, it appears that I can order over t

[2017-06-15 14:39] jmcelhaney opened #2795 "%27 in a querystring inputs \' instead of '"
%27 in a querystring inputs \' instead of '

Create a field with a default value of a querystring key
Preview the page then add a querystring that contains %27
In the field on the form \' will be added instead of '

### Environment ###
Home URL:                http://localhost/wordpress3
Site URL:                http://localhost/wordpress3
Ninja Forms Version:     3.1.4
WP Version:              4.

[2017-06-15 17:19] kjohnson commented on #2770
@DylanSimowitz

I wasn't able to reproduce this issue locally.

Is there something else that may be incompatible?

WordPress: 4.8
Ninja Forms: 3.1.4 (`master`, `develop`)

[code]
_.php`

[code]
`script.js`

[2017-06-15 17:21] jmcelhaney opened #2796 "Look into the size of the form loading animation"
Look into the size of the form loading animation to prevent the page from shifting when the form finishes loading.

[2017-06-15 17:45] kjohnson commented on #2573
@wpnzach could not reproduce.

I created a form with an HTML field, containing `Tell us what you're interested in.` which imported as expected.

Here is a copy of the export:
https://gist.github.com/kjohnson/2c4835761d781c92aa83c68b37b9c1c2

Further, JSON uses Double Quotation Marks (`"`), so a Single Quotation Mark shouldn't be an issue.

Anyway, if you can reproduce this, let me know and I'll ta

[2017-06-15 17:45] #2573 closed

[2017-06-15 17:48] tleen opened #2799 "Post tags unavailable in e-mail merge?"
Setup is WordPress 4.8, NF v3.1.4.

I am unable to see the post merge tags in an email action. I can get the tags from the form no problem, but post:title, post metas any of that are a no go. I end up seeing the merge tags in the resultant received e-mail:

Form data comes through no problem.

I am generating the form through the ninja_forms_display_form() function within a post context. Post rela

[2017-06-15 18:02] kjohnson commented on #2230
The abbreviation for Serbia has been set to `RS` since the `3.0` branch was merged into `master`.
Source: https://github.com/wpninjas/ninja-forms/blame/master/includes/Config/CountryList.php#L199

[2017-06-15 18:02] #2230 closed

[2017-06-15 18:18] kjohnson commented on #2574
@wpnzach unable to reproduce:

[code]

[2017-06-15 18:28] wpnzach commented on #2574
can confirm, appears to no longer be an issue

[2017-06-15 18:28] #2574 closed

[2017-06-15 18:29] wpnzach commented on #2573
can confirm, appears to no longer be an issue

[2017-06-15 19:16] jmcelhaney commented on #2796
/ninja-forms/assets/css/display-structure.css
`.nf-loading-spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: rgba(208, 208, 208, 0.5);
  border-radius: 100%;
  animation: nf-scaleout 1.0s infinite ease-in-out; }`

[2017-06-15 19:37] DylanSimowitz commented on #2770
@kjohnson I'm building a theme and not a plugin if that makes any difference. If that doesn't matter, I'm using [bedrock](https://github.com/roots/bedrock) which changes the default plugin path among other things. This is fine as long as WP_PLUGIN_DIR or an equivalent is used in the plugin.

[2017-06-16 11:17] zagreusinoz commented on #188
Sorry to come in on an older thread but I can't find any other information about this.   Has this been implemented or is it on the roadmap?

[2017-06-16 15:01] leecollings commented on #1730
Agree with @isleshocky77, this issue is not resolved.

If this is what I'm experiencing, I have one instance of the form displaying as expected, with the other instance opening in a modal. However when the modal opens, I just see a loading circle expanding in a loop.

I believe this is the issue correct? I am using both PHP functions `Ninja_Forms->display(1)` to show the form.

[2017-06-16 15:15] brbreen01 opened #2804 "Missing 'key' attributes from the ninja_forms_submit_data filter"
In the (pre-processing) ninja_forms_submit_data WP HOOK filter, the 'key' attributes are all missing from the $form_data parameter. 'id' and 'value' however are there.

[2017-06-16 15:20] brbreen01 opened #2805 "Unreliable $form_data passed to the ninja_forms_submission_actions filter callback"
The $form_data passed into the ninja_forms_submission_actions filter callback function is not reliable. The 'value' attributes (at least) are sometimes correct, sometimes in the wrong fields and sometimes missing! The $actions data however seems fine.

[2017-06-16 15:24] kstover commented on #2805
I'm going to ping @kjohnson so that he can respond here.

[2017-06-16 15:25] kstover commented on #2804
Tagging @kjohnson so that he can take a look.

[2017-06-16 15:29] kstover commented on #2799
I can't reproduce this locally using the [ninja_form] shortcode on the post, so my guess is that it is related to the use of the display function.

If you test with the shortcode on a post, does that come through properly?

@tleen

[2017-06-16 15:32] kstover commented on #2793
Currently, the min/max setting for numbers and products is only an HTML5 browser setting. There would need to be some JS/PHP added to processing to make sure that these weren't violated.

At the moment, we don't have the developer bandwidth to add this, but it will be addressed in a future version.

[2017-06-16 15:37] tleen commented on #2799
In this situation I won't be able use the shortcode in the post so I invoke it in the page template directly. I did try it via the do_shortcode function and the results were the same. I will try it as part of the post content and see what happens.

[2017-06-16 16:56] tleen commented on #2799
I tried the shortcode in the post content with the same result. Still no merging of post tags in the email.

[2017-06-16 17:09] kstover commented on #2579
@nickyoung87 Does that solve the problem? Do we need to dig into the issue more?

[2017-06-16 17:10] kstover commented on #2219
This should be taken care of soon, as it's an easy fix.

[2017-06-16 17:11] kstover commented on #2061
Thanks! I'll take a look and see about getting it merged in for version 3.1.5!

[2017-06-16 17:12] kstover commented on #1298
I've set this as a high-priority bug. It should be taken care of as soon as all Easy/High priority bugs are dealt with.

[2017-06-16 17:54] kjohnson commented on #2401
This issue is not yet resolved.

[2017-06-16 18:19] kjohnson commented on #2401
The issue appears to be located in the stored form cache.
The associated field_meta row contains the correct string, while the form cache stored in the options table is incorrect.

[2017-06-16 19:01] amakely-moxie opened #2807 "Calendar/date picker misaligned on iOS 9+"
The date picker header looks ok, but the table is all spaced out.

![image](https://user-images.githubusercontent.com/19765546/27240918-903c7b00-52a4-11e7-9832-d71935075d95.png)

[2017-06-16 19:29] amakely-moxie commented on #2807
Further info:

If I access The original Pikaday calendar page (https://mydea.github.io/PikadayResponsive/), it works fine on the device  and shows the calendar grid.

If I access The Responsive Pikaday page (https://mydea.github.io/PikadayResponsive/) it works on the device, but shows me the native date picker instead of the grid.

[2017-06-16 20:09] tleen commented on #2799
I setup a clean WP install to mess around with this issue. Its WP 4.8 and the master branch of the NF plugin. The only other plugin is Advanced Custom Fields (Pro) 5.5.14. (I have a hunch it may be involved.) Posts have a meta field via ACF called "post-extra-title". Form is shortcoded into the Hello World starter post. Form is being submitted via admin-ajax.

I am using a copy of the default cont

[2017-06-18 04:48] binarykitchen commented on #2321
Any news on this one? It is bugging me :(

[2017-06-18 04:50] binarykitchen commented on #2322
yes, this is still a problem. i cannot use merge tags when using HTML emails.

[2017-06-18 05:08] binarykitchen opened #2809 "Bump CodeMirror"
The one version you are using seems pretty outdated and does not support many HTML tags I wish to include in some actions that trigger an HTML email to be sent.

[2017-06-18 05:11] binarykitchen commented on #2809
probably linked with https://github.com/wpninjas/ninja-forms/issues/2321

[2017-06-18 05:24] binarykitchen opened #2810 "Custom merge tags do not work inside HTML emails"
When I have a HTML based email like this one https://github.com/wpninjas/ninja-forms-videomail/blob/develop/examples/admin_you_have_videomail.html and use it within an action, those custom merge tags won't be inserted at all https://github.com/wpninjas/ninja-forms-videomail/blob/develop/src/php/tags/merge/video.php

But when I move them i.E. before the `<html>` part, then they appear in the email.

[2017-06-19 11:59] tleen commented on #2810
These links are 404.

[2017-06-19 16:29] kjohnson opened #2811 "Nested Calc Merge Tag Issues"
When inserting calcs into other calcs, partials of the tags are being removed.

For example,

`{calc:GrandTotal}` -> `GrandTotal}`

[2017-06-19 19:15] #2733 closed

[2017-06-19 21:46] binarykitchen commented on #2810
@tleen oh right, it is a private wpninja repository. You can ask @kjohnson for access.

[2017-06-20 03:42] kennkelly commented on #820
Correct @zmogus there is no setting for a standard account. However, as seen on Ninja you can use the following to remove it:

`.nf-form-fields-required {
  display: none;
}`

[2017-06-20 09:56] dbeja commented on #2484
Year Range according to datepicker lib used (Pikaday) is only used for the list of years that show up when you click over the "Month Year" to select directly a different year, it doesn't limit the dates selected.

What could be done would be to setup 1st January of Start Year as _mindate_ and 31st December of End Year as _maxdate_.

Should I submit a pull request with this change?

[2017-06-20 15:50] jmcelhaney commented on #1962
This is causing <p> </p> to be added to data when used in the Subject line of an Email action.

[2017-06-20 17:55] klhall1987 commented on #2648
@kstover Here are the replication steps:

1. Create a new form with a checkbox, recaptcha field and submit button.
2. Preview the form.
3. Click the submit button.
4. Validate the Recaptcha Field and try to resubmit the form.

[2017-06-20 21:26] devlifeX opened #2814 "Export, Import problem with unicode text"
Hey
Recently i install `ninja forms 3.1.4`, and i found issue in unicode text, in my case i used
persian text `تماس با ما` for my field label, and after export and import my text was weird! like this `ØªÙØ§Ø³ Ø¨Ø§ ÙØ§`
please fix this issue.
php ver: `5.6.30`
ninja forms ver: `3.1.4`
wordpress ver: `4.6.6`

[2017-06-21 05:48] nickyoung87 commented on #2579
@kstover Seems to have done the trick!

[2017-06-21 15:27] jmcelhaney opened #2815 "The Star Rating field is not being caught by the required field validation"
The Star Rating field is not being caught by the required field validation in Ninja Forms 3.1.4

[2017-06-21 17:49] #2293 closed

[2017-06-21 17:49] #2646 closed

[2017-06-21 17:49] #2780 closed

[2017-06-21 17:49] #2790 closed

[2017-06-21 17:49] #1481 closed

[2017-06-21 17:49] #2164 closed

[2017-06-21 17:49] #2247 closed

[2017-06-21 17:49] #2418 closed

[2017-06-21 17:49] #2645 closed

[2017-06-21 17:49] #2799 closed

[2017-06-21 21:20] jimcremer commented on #2249
I am sorry - I am new to using a forum like this.  I updated to 3.1.5 today and am seeing many of the same tag errors:

[21-Jun-2017 21:07:20 UTC] PHP Notice:  Undefined index: tag in /home/jimcremer/public_html/wp-content/plugins/ninja-forms/includes/Abstracts/MergeTags.php on line 45

Seems like there is  one for each form field. And happens even for trivial forms with, e.g., a default radio lis

[2017-06-22 13:50] klhall1987 opened #2816 "Pressing "Enter" in calculations makes a new calculation"
If you press the enter key in a calculation it opens a new calculations and pulls you out of your current calculation. I don't think this is a good user experience.

[2017-06-22 13:53] Much2tall commented on #2725
Reopening because a user was able to reproduce this bug on newest version.

[2017-06-22 15:58] #2699 closed

[2017-06-22 18:53] #2725 closed

[2017-06-22 19:31] #2816 closed

[2017-06-23 07:35] ericnicolaas commented on #2579
@kjohnson @kstover Done the trick with Charitable too :)

[2017-06-23 12:00] bahcivan commented on #2214
This dont work. Can someone help me?
I have add the code from @mstearne to the file includes/Config/MergeTagsUser.php.
But the tag {user:login} is not in the merge-tags list

[2017-06-23 14:31] Much2tall commented on #2717
Recently i install `ninja forms 3.1.4`, and i found issue in unicode text, in my case i used
persian text `تماس با ما` for my field label, and after export and import my text was weird! like this `ØªÙØ§Ø³ Ø¨Ø§ ÙØ§`
please fix this issue.
php ver: `5.6.30`
ninja forms ver: `3.1.4`
wordpress ver: `4.6.6`

[2017-06-23 14:32] Much2tall commented on #2814
Related to https://github.com/wpninjas/ninja-forms/issues/2717

[2017-06-23 14:34] #2814 closed

[2017-06-24 02:32] wpnzach opened #2821 "Context Aware Merge Tags"
With list fields, the calc value should be automatically assumed anywhere used expressly for calculations.  This includes collect payment actions and calculations.

This is a MAJOR cause of support issues.

[2017-06-24 20:00] adamradocz opened #2822 "On multisite uninstall doesn't work"
Hi,

If I uninstall the plugin as network admin, the database tables won't delete on the sub sites, even though the "Remove ALL Ninja Forms data upon uninstall?" is checked.

[2017-06-26 12:27] leecollings opened #2823 "Mailchimp - Warning: curl_setopt(): cannot represent a stream of type MEMORY as a STDIO FILE*"
This error has been in this plugin running on PHP 7.1.1 for several releases, and I believe I have commented on it in the past.

I had fixed this in the previous version by replacing line 206 from this:
`$curl_buffer = fopen('php://memory', 'w+');`
to this:
`$curl_buffer = fopen('php://temp', 'w+');`

This should be applied for future updates to fix this issue!

[2017-06-26 17:40] MongolianMisfit opened #2824 "Feature Request: Multi-Select Rows"
In 2.9, for multi-select, there was an option to choose how many rows would show within the multi-select.
At this time there is no option to adjust the number of fields displayed without adjusting the element itself.

This is a customer request based off of ticket: https://wpninjas.kustomerapp.com/app/customers/5949a0a366c5e2001145d698/event/5949a0a3e544760012c02c56

[2017-06-26 19:33] #2489 closed

[2017-06-27 02:02] binarykitchen commented on #2809
hello? @kstover @kjohnson ?

[2017-06-27 02:02] binarykitchen commented on #2321
piiinng??? @kstover

[2017-06-27 02:06] jameslaws commented on #2321
Yes?

[2017-06-27 02:07] jameslaws commented on #2809
Yes?

[2017-06-27 02:09] binarykitchen commented on #2809
Ok, great @jameslaws, can we bump CodeMirror please for the next version? Its current version makes it difficult for me to compose HTML based emails.

[2017-06-27 02:10] binarykitchen commented on #2321
@jameslaws can you configure codemirror not to minify the HTML code in the rich text editor?

[2017-06-27 02:16] jameslaws commented on #2321
Me personally? Not really. I'm a limited developer on this project. We certainly accept pull requests though as long as they don't cause other issues.

[2017-06-27 02:17] jameslaws commented on #2809
Maybe? I'm not sure whether we can or not.

[2017-06-27 02:45] binarykitchen commented on #2321
i would do a PR but am seeing lots of tech debts in your code :(

for example code mirror should be installed via npm. cannot see what its current version is when you only have git-pushed a minified version.

[2017-06-27 07:12] cedriccharles4 commented on #2717
Hello ! Same here with french text. All the characters with accent are being changed to weird code... It happens when I convert existing form to from NF 2.x to NF 3.x.
For example these characters are changed :

- é
- ù
- à
- è
- ...

Steps to Reproduce:
Create a form in ninja form 2.x and add some chars with accents. Example : "é". Than, update to THREE. The "é" char will be replaced by weird cha

[2017-06-27 14:02] dbeja commented on #2592
This page is using the Core template from Wordpress to get the page title and in WP Core you have this:

[code]

which means this page title is read from the custom post type labels and they are correctly setup with translation functions:

[code]

Could it be because the pot files are not updated?

[2017-06-27 14:47] kjohnson commented on #2804
Ok, @brbreen01 I see what you mean now. Each field contains only a `value` and `id`, but should also include a `key`. Correct?

|  | Expected |
| ----- | ---- |
|      1 => | 1 => |
|        array (size=2) | array (size=3) |
|          'value' => string 'Kyle' (length=4) |          'value' => string 'Kyle' (length=4) |
|          'id' => int 1 |          'id' => int 1 |
|

[2017-06-27 14:57] tleen commented on #2804
That would be a very helpful addition.

[2017-06-27 15:04] kjohnson commented on #2804
@brbreen01 @tleen You can use the Ninja Forms API to get the field's `key`.

[code]

While I would agree that it would be helpful to have the field's `key` as a property of the passed array, leveraging the API here should give you access to what you need without requiring an update/release or a specific version of Ninja Forms.

[2017-06-27 15:04] #2804 closed

[2017-06-27 15:10] kjohnson commented on #2805
@brbreen01 it looks like the doc's weren't updated.

That filter has 3 parameters: `$actions`, `$form_cache`, `$form_data`.

It sounds like you need the 3rd parameter, which is the `$form_data` that you are looking for.

[2017-06-27 15:10] #2805 closed

[2017-06-27 15:43] kjohnson commented on #2822
@adamradocz what version of Ninja Forms are you using?

This should have been resolved in `v3.1.5`.

[2017-06-27 15:46] kjohnson commented on #2823
@leecollings looks like we have that reported in the Mailchimp Add-on repo, which is private.

I'll put that on next week's bug fix sprint.

Closing in favor of https://github.com/wpninjas/ninja-forms-mail-chimp/issues/53.

[2017-06-27 15:46] #2823 closed

[2017-06-27 23:39] vogography commented on #2815
And the problem is that when people send a form without making a star rating now the submissions say that the question was rated with 4 stars so the results of surveys are not true.

[2017-06-27 23:55] Luke-SF commented on #666
It seems like the issue persists for the latest Ninja forms 3.1.6, renaming requires digging into the advanced display settings.

[2017-06-27 23:58] jameslaws commented on #666
Yeah, at the moment we're ok with this convention, but may revisit in the future when more important things are off the agenda.

[2017-06-28 07:00] adamradocz commented on #2822
I used the latest version.

[2017-06-28 15:12] maxxwv opened #2827 "AJAX undefined index 'tag' - error reporting/JSON issue"
If error_reporting is turned on when a form is submitted, the server throws an undefined index notice for 'tag' in Abstracts/MergeTags.php, which throws off the JSON return and apparently breaks the form process notification. Emails still send just fine, but the user is not notified of that and the form appears to be stuck on 'processing'.

[2017-06-29 13:38] MongolianMisfit opened #2828 "Request for an Image Submit Button"
Based on a support ticket, a user references a 1.0 feature they wishe to implement, one that is not present in 3.0.
(Original URL of the feature from 2012: http://wpninjas.com/image-ninja-forms-submit-button/)

[2017-06-29 14:42] kstover commented on #2828
@MongolianMisfit Can you be more specific? When you create an issue here, everything needed to address that issue should be present in the issue. Developers shouldn't need to visit another page to view details.

[2017-06-29 14:43] kstover commented on #2828
Closing because this is really a documentation issue.

[2017-06-29 14:43] #2828 closed

[2017-06-29 23:17] ravindranathbe opened #2829 "Ninja forms activation throws nasty performance in New relic"
Ninja forms activation throws nasty performance in New relic
During the activation of the plugin, its throws some mysql query error.
But, the functionality is working fine. After some time, the New relic
shows that the server is bad with performance.

[2017-06-30 19:15] klhall1987 opened #2832 "Radio/checkbox list fields have a line break between the label and the element"
Radio/checkbox list fields have something causing them to appear like they have a line break between the element and list element.

[2017-06-30 19:38] polevaultweb opened #2833 "One notice to rule them all"
<img width="1094" alt="screen shot 2017-06-30 at 20 32 28" src="https://user-images.githubusercontent.com/1770201/27751381-e63dac56-5dd3-11e7-9e4b-a662204b7591.png">

This too much! :) If the notices are rendered using a NF core function, it would be better to amalgamate them into one notice.

If not, perhaps addons can use a NF core function for this, so core can control it better.

They also are

[2017-06-30 20:29] marcusipp opened #2834 "NINJA Forms Hanging, Processing Empty"
Since I need forms up I've had to take the Ninja forms down and replace with simple form so I don't lose customers. After clicking submit, going to a blank white pageSome users reported the Submit/Processing just hanging there. All form submissions that came in from the unsubmitted forms were blank in submissions. Any one else reporting issue and find fix?

[2017-06-30 23:07] binarykitchen opened #2835 "Array to string conversion error when exporting submisssion"
[code]

Happens when I am trying to export a submission from my new videomail-client plugin. Initially reported in https://github.com/wpninjas/ninja-forms-videomail/issues/35 and attached is the broken CVS file.

[2017-07-03 17:46] bermudaa commented on #2189
Any Update?

[2017-07-05 13:33] kjohnson commented on #2834
@marcusipp When (if) this happens, the issue is usually specific to the site. More often than not it is a plugin/theme compatibility issue.

I would suggest contacting the support team so that they can assist you with your site specifically.
https://ninjaforms.com/contact

[2017-07-05 13:33] #2834 closed

[2017-07-05 13:35] kjohnson commented on #2833
Doh. Ok, yeah. We have an system for managing/throttling Ninja Forms admin notices.

However, it looks like these were added each for a specific reason, with no one notice more important than the other.

That said, we could perhaps combine them?

These are more contextual notices, but we still need to look at handling them better.

[2017-07-05 13:35] marcusipp commented on #2834
Thank you for your feedback but that actually was not the case at all. Had
the forms installed on several sites and the same thing is happening
everywhere. It turned out that recaptcha has been changed and or updated
and was the cause of the issue. They have since done some update again to
recaptura and the forms

On Jul 5, 2017 9:33 AM, "Kyle B. Johnson" <notifications@github.com> wrote:

[2017-07-05 13:36] kjohnson commented on #2829
@ravindranathbe can you provide some reporting from New Relic?

Also, the mySQL error message would be helpful.

[2017-07-05 13:37] kjohnson commented on #2827
@maxxwv can you provide the error message? This will tell us where, specifically, we need to make changes.

[2017-07-05 14:27] maxxwv commented on #2827
The line in question is 45 in includes/Abstracts/MergeTags.php. It's an easy change -

`if( ! in_array( $merge_tag[ 'tag' ], $matches[0] ) ) continue;`
to
`if( ! isset( $merge_tag[ 'tag' ] ) || ! in_array( $merge_tag[ 'tag' ], $matches[0] ) ) continue;`
seems to fix the issue.

[2017-07-05 14:54] Much2tall commented on #2298
Issue resolved in a previous version.

[2017-07-05 14:54] #2298 closed

[2017-07-05 15:22] klhall1987 commented on #1829
Confirmed that this is still a bug.

[2017-07-05 15:50] kstover opened #2837 "Templates and Imported Forms Should Have Current Date as Created Date"
When you import a form or click on a template from the "Add New" widget, the creation date is hard-coded in the form. We should update that to the current date/time of the user's WordPress install.

[2017-07-05 16:23] #1703 closed

[2017-07-05 16:54] wpnzach opened #2839 "On error, form redraws without default values"
If a field in a form is prepopulated with a default value, when that form is submitted and an error encountered (such as a missed required field), the default value is not present in the field on the redraw.

[2017-07-05 17:15] klhall1987 opened #2840 "Deleted fields aren't being tracked in action settings"
Fields used in action settings are showing up as the field merge tag after they are deleted. For example if in User Management you set a Password field as the Password Field setting, then delete the password field, then the password will be set to {field:password} when the action is processed.

Replication Steps(Using the user management example):
1. Create a form using the Update Profile template

[2017-07-05 18:12] kstover opened #2841 "Number Step of .01 Doesn't Function As Expected"
Using a step of .01 for a number field SHOULD accept anything that has two decimals.

When you view the form on the front-end, however, and type in something like 4.10, you get an error on blur. When you use the increment button in the field, you can enter any number you'd like.

From the user:

Hi I am having an issue with the number field step. I am trying to collect a users current interest rat

[2017-07-05 19:12] klhall1987 opened #2842 "Add a way to change the format of the submission date"
Currently there is no option to change the format of the date stored on the submission. It is currently m/d/Y.

[2017-07-05 20:39] kjohnson opened #2843 "Builder Error Handling"
The builder should never "hang", rather it should at least always return an error message.

[2017-07-05 23:22] jameslaws commented on #2840
I'm assuming this has a major impact on an action where a field had been deleted.

[2017-07-05 23:33] klhall1987 commented on #2840
Yes, I let Zach and Kevin know about the issue. I'll talk with @kjohnson about this tomorrow morning.

[2017-07-06 12:41] raptor235 opened #2844 "There is no ability to translate table field labels"
For email notifications we need the ability to translate the field labels that go out in different languages. This is currently not possible.

We need a filter, PR is coming.

[2017-07-06 15:56] #2713 closed

[2017-07-06 17:34] kjohnson commented on #2592
Taking another look, the issue seems to be that the wrong text domain is being used.

It should be `ninja-forms`, not `ninja_forms`.

I'll update the textdomain, but the translations would also need to be updated.

[2017-07-06 17:35] kjohnson commented on #2591
With the move to the new Dashboard feature, the "Forms" screen is no longer in use.

[2017-07-06 17:35] #2591 closed

[2017-07-06 17:50] #2219 closed

[2017-07-07 09:54] hatsumatsu commented on #2204
@kstover Could you elaborate on how to use the date picker's API to localize the UI?

[2017-07-07 10:02] hatsumatsu commented on #2204
This fix causes rows with three equal-width columns to be narrower than a row with two equal-width columns.

[2017-07-07 13:12] klhall1987 commented on #1899
I know where to add the code and how to fix it, I need to talk with Kyle about how to get the form id in the conversion process.

[2017-07-07 17:22] kjohnson commented on #2833
@Much2tall assigning this to you for the CF7 and PPE TLS admin notices.

[2017-07-07 17:26] kjohnson commented on #2788
Closing this because the SQL Injection issue was resolved and the preview system is being updated.

[2017-07-07 17:26] #2788 closed

[2017-07-10 08:39] bahcivan commented on #1910
Hi, can someone explain me exactly how i create a custom merge tag with the username

Database table: wp_users, Column: user_login

I tried to make it with the Docs ([http://developer.ninjaforms.com/codex/merge-tags/](http://developer.ninjaforms.com/codex/merge-tags/)) but it doesn't work. I don't understand in which files i must make the changes...

[2017-07-10 16:16] ioneill opened #2853 "Actions and filters do not work after Paypal submission"
After successfully completing a Paypal transaction, filters and actions do not work.

I tested the following actions and filters:

ninja_forms_run_action_settings
ninja_forms_checkout_success
ninja_forms_paypal_express_checkout_success
ninja_forms_checkout_failure
ninja_forms_paypal_express_checkout_failure
ninja_forms_action_email_message
ninja_forms_after_submission

To test:
* create new form
*

[2017-07-10 17:30] Much2tall opened #2854 "Email Error not being properly captured"
Your email action "Admin Email" has an invalid value for the "to" setting. Please check this setting and try again.
Your email action "Admin Email" has an invalid value for the "to" setting. Please check this setting and try again.
Your email action "Admin Email" has an invalid value for the "to" setting. Please check this setting and try again.

Steps to reproduce:
- Create a New Form
- Add an Em

[2017-07-11 04:08] comdatia commented on #2600
There seems to be a problem with calling the hook.

I am having the same problem with even just getting a hook to output to error_log().

using a script similar to this:

function simple_script_callback() {

   error_log('It has Run');

}

add_action('simple_script', ;simple_script_callback;);

I can call the hook from elsewhere and it works but having it called from the form action does nothing.

[2017-07-11 11:51] maxxwv commented on #2827
@kjohnson Sorry - put that comment there then got busy enough to forget to come back and give the actual error message as requested.

`<br />
<b>Notice</b>:  Undefined index: tag in <b>/server/path/to/wordpress/wp-content/plugins/ninja-forms/includes/Abstracts/MergeTags.php</b> on line <b>45</b><br />
<br />`

Step to reproduce:

- Activate plugin
- Ensure the WP_DEBUG and WP_DISPLAY_DEBUG constan

[2017-07-11 14:55] kjohnson opened #2855 "Change DELETE request on dashboard to admin-ajax"
Some servers do not support the `DELETE` request, so for compatibility, we need to use a `POST` request with a flag.

[2017-07-11 15:15] Quay3 opened #2857 "Number field error on eleventh digit entered"
In a default (no settings adjusted) number field, attempt to input a string of numbers that is 11 or longer. On entering the eleventh digit, the following error is received:

"Please increment by 1
Please correct errors before submitting this form."

[2017-07-11 15:31] Much2tall opened #2858 "Email Action Stabalization"

[2017-07-11 17:11] kjohnson opened #2860 "Datepicker Formatting"
When applicable, use WordPress settings for the datepicker.

[2017-07-11 18:46] wpnzach commented on #2527
If we don't fix this, we need to remove the feature.  This has been urgent since March

[2017-07-12 13:49] jmcelhaney commented on #2717
https://wpninjas.kustomerapp.com/app/customers/5925be060d39a200119e10b9/event/5963be4e6b8bea001163018a

[2017-07-13 13:01] Sankalp1998 opened #2863 "Issue in JS main.js"
Hello,
I am using updated version of Ninja Form and i am facing some issue while using ninja form.
In console it's giving me this error:-  https://gyazo.com/f136aeafbfc0aff44a99af224f00259d
and my form is looking like:- https://gyazo.com/6381eab0ffddbd2194bfb3082343ed2c
Please try to figure out the issue ASAP so i can fix this on my website too.
Thanks

[2017-07-13 15:12] #2464 closed

[2017-07-13 17:41] kjohnson commented on #2280
Reported again:

```Notice: Trying to get property of non-object in .../wp-content/plugins/ninja-forms/includes/Admin/Metaboxes/AppendAForm.php on line 19```

[2017-07-13 18:00] kjohnson commented on #2833
After continued discussions, we are going to leave the PDF and TLS notices outside of the throttled system. These notify the user that an action is required for the product to continue functioning.

The reCAPTCHA/CF7 conflict notice should be in the throttled system.

[2017-07-13 19:04] wpnzach commented on #2740
Please see this video, starting at one minute in.  This explains the majority of the usability issues customers are currently facing with our merge selector: https://vimeo.com/225419908

[2017-07-13 19:29] jmcelhaney commented on #2515
https://github.com/wpninjas/ninja-forms/issues/2515

[2017-07-14 07:24] myhappyidea opened #2866 "'Form not found' in large forms"
Hi,
I am working on a specially long and complex form for one of my clients, and we have reached a moment where we cannot add any more questions / options as it does not save or publish. If i erase a few and save it does save/publish, but if I add a few more, it does apparently save/publish but actuallly its just ignoring us and does not do so.
When this happens we get a "form not found" error on

[2017-07-14 13:25] #2858 closed

[2017-07-14 13:28] Much2tall commented on #2863
@Sankalp1998

Could you provide more information?
If possible, could you post a copy of your System Status? (Ninja Forms->Get Help->Get System Report)

Also, could you provide a link to the page where this Form exists?

[2017-07-14 13:30] Much2tall commented on #2824
@kstover I thought we moved feature requests out of GitHub?

[2017-07-14 13:32] #2855 closed

[2017-07-14 13:36] Much2tall commented on #2866
@myhappyidea
Without seeing the Form for myself, it sounds like the size of it has exceeded the parameters that your server has set for php processing. We have, in rare cases, also seen issues where that data has reached a size too large for sql. In either case, the best approach to fixing this is to contact our support staff.
All tickets are generally touched within 24 hours, unless submitted ove

[2017-07-14 13:39] myhappyidea commented on #2866
Hi, can you give us a hint about which parameters could help us? We increased everything we could, I have no problem in upgrading to a super-server but I would really like to know if this is the cause.
I did submit a ticket yesterday and got no answers, so I was navigating and found this and thought about giving a shot here.
Thanks!

[2017-07-14 14:35] Quay3 opened #2867 "Merge Tags for deleted fields still present as an option after field deletion"
Reproduction steps:

1. Add a field to a form. Save form. Delete Field.
2. Add a field of the same type to the form. Save.
3. Open a list of merge tags anywhere in the form. The deleted field remains.

Technically you could skip step 2 to reproduce, but included here to demonstrate the confusion this would cause users. Specific example: User trying to populate To field of an email action. Multiple

[2017-07-14 14:41] roborourke commented on #2648
@kstover same here, if you fill out all fields except recaptcha and submit it locks the form for resubmission.

Additionally the error message doesn't show, it appears that `id` isn't passed when generating the field's error div.

[2017-07-14 18:04] roborourke opened #2868 "Form settings option not removed when form deleted"
This is messing me up a bit when I try to dynamically create a form from a hardcoded export or check for it's existence in the admin.

Steps to reproduce:

 1. Create a form
 2. Delete the form
 3. Check in the `wp_options` table, `nf_form_X` entry is still there

[2017-07-14 18:52] #2648 closed

[2017-07-14 19:01] Much2tall commented on #2866
The best things to check first would be WP Memory Limit and PHP Max Input Vars.
If both of those are already fairly large, it's possible you've encountered the SQL size issue, but we would need to look at the site to be sure.

[2017-07-14 19:04] Much2tall commented on #2867
Know issue, but I'll reference it anyway, since it's currently being worked on.

[2017-07-14 19:08] Much2tall commented on #2868
I'm able to confirm that these are sometimes not getting deleted.

[2017-07-17 13:52] klhall1987 opened #2870 "Hide the update post notice that appears after updating submission"
If you update a submission there is a notice that popups that has a link that will take you to a page that doesn't exist. We need to hide this notice, my guess is it's coming from submissions being a CPT.

[2017-07-17 14:16] #2844 closed

[2017-07-17 14:37] jmcelhaney opened #2871 "Update filter that Saves data to the Database"
Example: includes/Fields/CreditCardNumber.php line 27

[2017-07-17 17:19] kjohnson opened #2872 "Add post_max_size check for the Submission"
If the submitted data exceeds the size allowed by post_max_size, then the submission fails with a generic error. This message could be more specific.

[2017-07-17 18:06] wpnzach opened #2873 "Append calculation values to CSV"
Append calculation values to CSV

[2017-07-17 18:15] wpnzach commented on #2811
Related to #2740 closing as dupe

[2017-07-17 18:15] #2811 closed

[2017-07-18 09:35] ChubbyNinja opened #2877 "NF 3.1.6 and WooCommerce 3.1.1 form doesn't load"
It looks like an old issue which was fixed #1027 has come back?

I have an issue where only on the pages where WC is loading, the NF does not load at all.

Previously (before upgrading to NF 3) we had an issue where the AJAX part of the form wasn't working, so we were redirected to JSON output.

There are no errors in console, but actually NF does not enqueue it's JS (they are never outputted).

I

[2017-07-18 09:43] ChubbyNinja commented on #2877
Please ignore - one of our developers loaded the shortcode **after** the `get_footer()` :man_facepalming:

[2017-07-18 09:43] #2877 closed

[2017-07-18 14:29] Much2tall commented on #2873
Can already be achieved by mapping Calculations to Hidden Fields.

[2017-07-18 14:29] #2873 closed

[2017-07-18 14:30] Much2tall commented on #2866
Closing conversation in favor of responses via our internal ticket system.

[2017-07-18 14:30] #2866 closed

[2017-07-18 14:32] wpnzach opened #2878 "Currency symbol placement"
Currently Ninja Forms does properly swap currency symbols, but some locales require difference placement of the currency symbol.  One such local is Sweden:

From a user:

1. What actions are you taking? Change the curreny to "Swedish Krona"
2. What is the expected result of these actions? The writing formatting is updated in the forms, i.e. "$10" becomes "10 kr"
3. What is happening instead of you

[2017-07-18 14:34] Much2tall commented on #2863
@Sankalp1998
Closing this issue due to lack of information. If you'd like to reach out to our support team (https://ninjaforms.com/contact/), I'm sure they would be happy to help you.

[2017-07-18 14:34] #2863 closed

[2017-07-18 14:47] Much2tall commented on #2853
@ioneill

We're aware of this behavior.

The Payment Gateway Action in conjunction with PayPal freezes Form submission and redirects the user to PayPal for payment. The submission then continues when the user returns, using the payload from before the processing of the payment.

[2017-07-18 15:13] wpnzach opened #2879 "Developers/agencies need a way to remove ads for clients"
From an agency member:

I've recently noticed that the dashboard has some tabs on top (Forms, Extensions and Membership). I have always hidden these from my clients as this is what I would offer them, at our rates, which include support etc... I used to hide the menus using Menu Editor Pro.
Now I can totally understand how this might be good for business, but is there a way to keep designers/devel

[2017-07-18 17:25] kjohnson commented on #2740
@wpnzach are you able to reproduce this locally? I'm not able to replicate the behavior in the video.

[2017-07-18 17:30] wpnzach commented on #2740
Yes, consistently.  @jameslaws has also seen these behaviors.  I just tested again before commenting.  Would you like a video from my machine as well?

[2017-07-18 17:30] kjohnson commented on #2740
I can see it happening in the video, but I have not been unable to reproduce it.

[2017-07-18 17:31] wpnzach commented on #2740
Which part are you unable to reproduce?  There are a few behaviors in the video that need addressed?

[2017-07-18 17:33] kjohnson commented on #2740
Currently, I'm not seeing any issue with merge tag insertion with the RTE.

Trying to reproduce it. Next I'm trying specifically with stripe, in case that is the issue.

[2017-07-18 17:35] kjohnson commented on #2740
Hm, ok. Seeing it with Stripe merge tags, specifically.

[2017-07-18 17:38] kjohnson commented on #2740
Looks like it may be specific to the `chargeID` and `customerID` merge tags.
Only difference that I see there would be Capitalization.
Maybe there is a regex issue?

Could also explain the issue with the Query String merge tag, which uses capital letters.

[2017-07-18 17:39] kjohnson commented on #2740
Field Keys do not allow for Capitalization, which means that if Capitalization is the issue, then it would not be seen using field merge tags.

[2017-07-18 17:44] wpnzach commented on #2740
Capitalization can happen in calc names as well and in common, so that could be it.

Positioning of the merge tag selector is another big issue as part of this.  Another issue, which i can seperate if we want, is inability to scroll in the RTE and being pushed to the top whenever i add a merge tag that would be outside (below) the current RTE area.  So if it's a long merge tag in the last visible

[2017-07-18 17:47] kjohnson commented on #2740
Yeah, there are some complications with the RTE in that it is a Content Editable `div`, as opposed to a textarea. The cursor position has no context of the parent element and adding a new line is actually creating a new child element.

I'll look for a better way to handle that.

That said, I was able to correct the broken merge tag insertion, which was caused by a case sensitive regex pattern. Thi

[2017-07-18 17:50] kjohnson opened #2883 "RTE Merge Tag Selector loses cursor location when adding merge tags"
When inserting merge tags into an RTE with multiple lines, the cursor position jumps around in the RTE. ~~which eventually breaks inserting new merge tags.~~

Edit: Broken merge tags were caused by Capitalization, see #2740.

---

https://db.tt/x0yeOEpNXm

Not sure if this is exclusive to calk merge tags or not. The video above does a good job detailing the issues. Related to https://wpninjas.kust

[2017-07-18 17:57] kjohnson commented on #2740
@wpnzach I fixed the insertion problem (#2882) and migrate the cursor placement to #2883.

[2017-07-18 18:16] kjohnson commented on #2883
The cursor placement issue in the RTE seems to be limited to the use of the Merge Tag Button, which moves focus to the Merge Tag Box filter.

Inserting a merge tag by opening a `{` maintains context.

[2017-07-18 18:17] kjohnson commented on #2883
Further, opening a `{` and then clicking into the filter does not re-create the issue.

[2017-07-18 18:22] #2740 closed

[2017-07-19 13:48] Much2tall opened #2886 "Multi-Select Calculations are incorrect in front-end js"
Steps to reproduce:
- Create a new Form
- Add a Multi-Select Field
- Put that Field in a Calculation
- Add an HTML Field and put the Calculation in it

Expected behavior:
Selecting multiple items in the Multi-select should add them together. (1+2=3)

Current behavior:
Selecting multiple items concatenates them. (1+2=12)

[2017-07-19 13:59] jmcelhaney opened #2887 "Add space after the commas for checkbox lists when used in EMail merge tags"
Add space after the commas for checkbox lists when used in EMail merge tags.

[2017-07-19 14:10] #2061 closed

[2017-07-19 14:13] kstover commented on #2854
Closed in: https://github.com/wpninjas/ninja-forms/pull/2859

[2017-07-19 14:13] #2854 closed

[2017-07-19 14:13] #2592 closed

[2017-07-19 14:18] #2422 closed

[2017-07-19 14:21] #1829 closed

[2017-07-19 14:44] #1854 closed

[2017-07-19 15:08] #1962 closed

[2017-07-19 15:09] kstover commented on #1558
For the moment, let's add a setting in "advanced" for each field for "input name." If that isn't present, then default to the field key.

[2017-07-19 15:20] kstover commented on #2761
I can no longer reproduce this. It does not seem to be an issue in the current version.

[2017-07-19 15:20] #2761 closed

[2017-07-19 15:25] kjohnson commented on #2867
This seems to be an issue with the Merge Tag Collection.

Specifically, unpublished fields are being removed from the collection when deleted, but published fields are not.

[2017-07-19 15:26] kjohnson commented on #2867
The Merge Tag Collection is corrected when the Builder is reloaded.

[2017-07-19 15:28] kjohnson commented on #2867
Theory:

[2017-07-19 15:52] kstover commented on #2647
@Much2tall Do you have reproduction steps?

[2017-07-19 15:54] kstover commented on #2579
Merged the fix into develop branch. :)

[2017-07-19 15:54] #2579 closed

[2017-07-19 15:57] #2484 closed

[2017-07-19 16:01] kstover commented on #2411
Field keys appear to be assigned now properly.

[2017-07-19 16:01] #2411 closed

[2017-07-19 16:06] kstover commented on #2375
@kjohnson @wpnzach Can I get an update on this?

[2017-07-19 16:10] kstover commented on #2374
I think that this *should* be fixed with an update to core that let's actions remove fields from settings if the field is removed from the form. I'm going to close. We can re-open if necessary in the future.

[2017-07-19 16:10] #2374 closed

[2017-07-19 16:14] kstover commented on #2281
I did this recently in this branch issue#2840 for actions. On that branch, assets/js/builder/controllers/actions/deleteFieldListener.js is removing references to deleted fields in action settings.

[2017-07-19 16:22] kjohnson commented on #2294
The `{submission:sequence}` merge tag isn't populated until AFTER the "Store Submission" action is processed.

This means that it is unavailable for field default values or any actions that modify the data before the submission is stored.

What we probably need to do is remove this merge tag form the Field context all together.

As for Actions, we could possible restrict this based on the Class' T

[2017-07-19 16:48] kjohnson opened #2889 "Prefix EOS Parser Class"
The EOS Library classes are not prefixed, which causes compatibility issues with other plugins.

---

Reference: https://wpninjas.kustomerapp.com/app/customers/596cb1ea9236fa0011496aa5/event/596cb1eb9236fa0011496aa9

[2017-07-19 17:06] garrett-eclipse opened #2891 "Misspelling - upgrade_compelte_notice"
Hello,

I came across a misspelling during translation but didn't create a PR for the change as I wasn't sure if the change would introduce any issues and might need to be deprecated rather than just a string replace.

Permalink to String - https://translate.wordpress.org/projects/wp-plugins/ninja-forms/dev/en-ca/default?filters%5Boriginal_id%5D=4324072
String - upgrade_compelte_notice
Should be -

[2017-07-19 18:03] kjohnson opened #2892 "Add WP Version Check"
Ninja Forms currently requires WordPress v4.6.x due to a change in the UnderscoreJS library version.

Otherwise, _.template errors are thrown in the dashboard.

- [x] Add a check in the System Status

[2017-07-19 20:19] jmcelhaney commented on #2887
It appears that the data is being sent to the email action with ',' instead of ', ' as the delimiter. This was changed over a year ago in version 3.0.16. https://github.com/wpninjas/ninja-forms/commit/f96f5b867eba3342a9325b91bf039d586021ddf9 This was probably done for compatibility with data driven actions (e.g CRMs, Webhooks, Zapier)
We will need to filter this data so it is correct grammatically

[2017-07-20 13:35] Quay3 opened #2893 "Typo!"
In builder, navigate to Advanced>Restrictions>Limit Reached Message.

Text reads: The Form has reached it's submission limit.

Text should read: The form has reached its submission limit.

Lowercase "form" instead of capital, "its" instead of "it's".

Thanks :D

[2017-07-20 13:59] #2893 closed

[2017-07-20 14:13] jmcelhaney opened #2895 "The sub:sequence merge tag is not populating data into the hidden field."
The sub:sequence merge tag is not populating data into the hidden field.

[2017-07-20 16:24] #2717 closed

[2017-07-20 17:40] wpnzach opened #2897 "Minification plugins (WP-Rocket) break Ninja Forms JS"
Plugins like WP-Rocket that minify all JS/CSS on a page seem to break Ninja Forms from working properly.  Can we combat this at all?  I don't know why re-minifying would break our JS since i'd assume it should just be white space removal.

As WP-Rocket gains in popularity, these support issues are rising rapidly.  Would be awesome if we could find a way to avoid them.

[2017-07-20 23:12] Much2tall commented on #2897
@wpnzach

Javascript isn't designed to be minified twice. Moreover, when we minify it ourselves, we have control over which minification library is being used and what settings it's applying.

External minification libraries being applied by other plugins often don't care about the settings. They're just applying whatever settings will achieve the smallest data footprint.

While it is possible to

[2017-07-21 00:18] #2833 closed

[2017-07-21 00:19] #2503 closed

[2017-07-21 00:20] #2401 closed

[2017-07-21 00:37] Much2tall commented on #2839
@wpnzach
I'm unable to reproduce this. Were any add-ons involved?
Multi-part maybe?

[2017-07-21 13:31] Quay3 opened #2900 "Add "view all" option when viewing Submissions or visual notification of which forms have new submissions"
A user has reported difficulty finding which forms have new submissions when viewed under Ninja Forms>Submissions. They have a large number of forms and filtering by form to find new submissions is the pain point. Email notifications in this case are not ideal. They suggest:

1) Having a "view all" style option so that all submissions can be viewed at once

-or-

2) Having visible notifications (l

[2017-07-21 13:40] wpnzach commented on #2897
I don't disagree...but the reality is that this is becoming a big burden in support.  We're getting better at catching it earlier, but the issue is only growing as plugins like this increase in popularity.  I don't think it unwise to think through mitigation of these issues.

What about, specifically for WP Rocket, if we added the exception for our JS/CSS ourselves if we detect that its installed?

[2017-07-21 13:55] Much2tall commented on #2897
I don't have a problem with discussing mitigation amongst the development team. However, I don't want to get your hopes up. Detection of other plugins running is sticky issue, and it would need to be done in PHP, as the entire problem is that the secondary minification is breaking the JS/CSS. If we put our solution into that, it'll be just as broken as the rest of the code in there.

[2017-07-21 13:58] Much2tall commented on #2900
2nd solution is probably more ideal.
We could put a value in the user_meta table that stores an array of sub IDs that the user hasn't viewed.
The concern is that it would need to be a system that the user opts into. Otherwise, it could create unnecessary admin notification bloat.

[2017-07-21 15:03] Much2tall commented on #2839
Appears to be working. Closing issue unless it reappears.

[2017-07-21 15:03] #2839 closed

[2017-07-21 15:16] jmcelhaney opened #2901 "Product fields over 1000 show as 1 when previewing the form. They appear correctly after publishing the form."
Product fields over 1000 show as 1 when previewing the form. They appear correctly after publishing the form.

[2017-07-21 17:20] kjohnson opened #2902 "Merge Tags are not being processed in Form Previews."
When previewing (unpublished) changes, the field merge tags are not processing on submission.

[2017-07-21 19:42] #2892 closed

[2017-07-23 16:13] jlambe commented on #1730
@kjohnson as of Ninja Forms version 3.1.6, this issue is not yet solved.

Due to a mobile responsive issue, I have to render the same form on the page within 2 separate locations (div). The first met form is rendered correctly but the second one has the pre-loading icon animation running forever.

Any idea how to tackle this or if this is going to be solved soon?

[2017-07-24 14:17] klhall1987 opened #2907 "Date Picker year is range not being respected on the front end."
If a year range is selected in the builder it is not being respected on the front end when the user opens the date picker.

Field Setting:
http://nimb.ws/RtBLp4

Date Shown on the front-end:
http://nimb.ws/CP5VmQ

[2017-07-24 19:32] kjohnson opened #2909 "Uncaught JS Error"
The following JS Error was thrown when viewing an imported form.
The imported form contained Upload Fields, but File Uploads was not active.
Activating File Uploads resolved the issue.

Need to add a check.

[code]

[2017-07-24 21:00] agpreynolds commented on #2584
I also feel there is an issue here. I am using the user management add on and specifically the update profile action. This allows me to pre-populate my form with existing user data by assigning an input to a data item.

This works perfectly until I map my billing_country to a country field. The field always takes the default value as set in field configuration, ignoring the currently selected valu

[2017-07-25 10:09] FlyingDR commented on #2545
@kstover sorry for late response, I've prepared pull request for this issue

[2017-07-25 14:28] lukeswitz commented on #2841
Have same problem when trying odd values: 16.98 works but 16.99 does not. Killing me over here.

[2017-07-25 15:36] #2280 closed

[2017-07-25 16:12] wpnzach opened #2911 "Submissions limit per user or unique field (such as email address)"
This is very often requested and is more useful to most requesters than an overall submissions limit for the form.

[2017-07-25 18:47] kstover commented on #2521
@Dwarve Were you able to replicate this with the most current version?

[2017-07-25 19:30] kjohnson commented on #2897
@wpnzach I think that we are going to need some additional details before we can move forward with this.

First, when you say that minification plugins "seem to break Ninja Forms from working properly", can you provide more specifics? In particular can you provide error messages, workarounds, or even a collection of tickets that we can research?

[2017-07-25 20:02] Much2tall commented on #2897
Current plan is to get a copy of WP Rocket and create a process for auto-adding our plugin files to their "ignore" section. This would prevent their plugin from re-minifying our code.

The devs at WP Rocket have been receptive to this and are willing to provide us with guidance in setting up a solution.

[2017-07-25 20:10] klhall1987 opened #2913 "Refactor collect payment action"
Refactor the collect payment action to be more user friendly.

[2017-07-25 20:22] Dwarve commented on #2521
@kstover I tried on both the current Master and Develop branches and was unable to replicate this issue.

[2017-07-26 09:03] danielnr87 commented on #2710
I'm also experiencing this issue on a published form on a live page. Product fields displays 0.00 in the emails. The total is correct however. Hopefully this will be updated soon as using products is causing customers to email in with queries.

Just for your information, I am not using inline qty, but a separate qty field.

Thanks

[2017-07-26 15:06] jmcelhaney commented on #2316
https://wpninjas.kustomerapp.com/app/customers/596fdd727c4aca00139347ce/event/596fdd724d1ce50010f0b653

[2017-07-26 17:10] MongolianMisfit opened #2916 "Feature Request for Rollback pop-up warning and confirmation."
As of 3.1.6 of core, hitting rollback in settings immediately rollback with no additional warning message. For 3.0 UI users, this is causing a complete loss of forms when converting back to 3.0 from an accident Rollback click.

1. Create a form.
2. Rollback from 3.0 UI to 2.9.
3. Convert back to 3.0; loss of forms.

User requests that at least an additional "Are you sure you wish to rollback?" pop

[2017-07-26 18:10] klhall1987 opened #2917 "Add a jQuery hook on form submission for Google Analytics."
Add a jQuery hook on form submission for Google Analytics.

[2017-07-26 21:00] #2871 closed

[2017-07-26 21:06] #2763 closed

[2017-07-27 00:00] kjohnson commented on #2542
Looks like this is more of an Email Action specific issue.
The success message output for the Fields Table merge tag is accounted for by the theme.

@wpnzach can you confirm?

[2017-07-27 00:15] kjohnson commented on #2542
Looks like we can add some inline CSS to the `<table>` markup to be compatible for emails.

---

https://github.com/woocommerce/woocommerce/pull/5945

[2017-07-27 00:29] kjohnson commented on #2883
@wpnzach Are you still seeing this with the current `develop` branch?

I'm not seeing it any more; may have been resolved with #2740.

[2017-07-27 01:12] kjohnson commented on #2897
@wpnzach I heard you talking @MongolianMisfit and @jmcelhaney through a verbal update of the WP Rocket compatibility.

Can you post an update here?

[2017-07-27 01:25] wpnzach commented on #2897
@kstover was looking into this and can speak to it better than I for WP Rocket specifically

[2017-07-27 02:01] kjohnson commented on #2909
Could not reproduce.

[2017-07-27 02:01] #2909 closed

[2017-07-27 17:14] Dennniss opened #2923 "Help text and calendar appear behind the form"
Why does this happen?

[2017-07-27 17:38] wpnzach commented on #2883
Yes I still see this behavior in the current develop branch.  I tested in an email action RTE.

[2017-07-27 19:37] kjohnson commented on #2883
@wpnzach can you do an updated video of the reproduction steps? There might be specific situations that I am not coming across.

[2017-07-27 19:43] wpnzach opened #2925 "Descriptions appear beside single checkbox fields instead of below"
![image](https://user-images.githubusercontent.com/7498743/28689086-57ba1194-72e2-11e7-8ca6-2b2df2b97aaa.png)
 Help text icon also seems oddly positioned.  Description text should span entire field length

[2017-07-27 19:48] wpnzach commented on #2883
https://goo.gl/U1LbRq

[2017-07-27 20:07] kjohnson opened #2926 "Clicking icon outer limits in the builder doesn’t always perform the action (i.e. plus, duplicate, etc.)"

[2017-07-27 20:12] kjohnson opened #2927 "Add a 'currency' option for the Input Mask Restriction setting."
This mask should default to the currency set by the:
1) Form
1) Plugin

[2017-07-27 20:13] kjohnson opened #2928 "Touch screen scrolling in the drawer"
Drawer scrolling doesn't work on a touch screen because of a conflict with the perfect scroll utility.

[2017-07-27 20:13] kjohnson opened #2929 ""Improve" delete animation on Form Table"

[2017-07-27 20:16] kjohnson opened #2930 "Optimize Form Duplication"
Form duplication can take quite a while to complete. I have seen up to 9 minutes to duplicate a form. The performance should be greatly improved.

[2017-07-27 21:16] kjohnson opened #2931 "Better Download Links in the Success Message"
When inserting a Media File into a RTE setting, if the file type is not an image, the formatted link uses the File Name as the displayed test. ie my-file.zip

It would be better to use the File Title, with a fallback to the File Name.

---
https://codex.wordpress.org/Javascript_Reference/wp.media
http://bucketpress.com/using-wordpress-media-uploader-wp-media

[2017-07-28 11:32] Much2tall commented on #2923
@Dennniss
We're not able to reproduce this locally.
This repository is for documentation and resolution of known product issues.
For troubleshooting, please contact our support team at https://ninjaforms.com/contact/

[2017-07-28 11:32] #2923 closed

[2017-07-28 11:35] Much2tall commented on #2925
@wpnzach
I'm unable to reproduce this locally.
Can you list plugins/theme that were active to see this?

[2017-07-28 11:37] Much2tall commented on #2927
Need to get Locale settings for Calculations worked out before completing this, as there are potential settings that may be defined by that this can use. (To avoid redundancy.)

[2017-07-28 11:38] wpnzach commented on #2925
It's out of the box.  I assigned to James because we worked on it a bit
yesterday

On Fri, Jul 28, 2017, 7:35 AM KR Moorhouse <notifications@github.com> wrote:

[2017-07-28 12:39] #1899 closed

[2017-07-28 14:19] wpnzach opened #2933 "Deregister/dequeue unnecessary styles on our admin page"
WP does have a way to remove scripts...but is there a way for us to remove all scripts except for ours and the admin?  Other plugins loading styles in our builder causes a lot of styling issues and makes our product look super broken.

[2017-07-28 14:42] Much2tall commented on #2933
@wpnzach
I believe it's generally considered bad practice to do this because you're disregarding other plugins' settings, but as far as I know, it is possible.
If I remember correctly, @kjohnson was looking into building something like this as a "dev mode" that we could use to check for plugin conflicts.

[2017-07-28 14:50] mrinx commented on #1910
I got the example from the docs working by hooking to the `nf_init` as opposed to the `ninja_forms_loaded`, though I assume the `nf_init` is not the best action to hook to.

[2017-07-31 14:50] jmcelhaney opened #2935 "Add option to open in another tab/window to the redirect action"
Add option to open in another tab/window to the redirect action using (target=_blank)

[2017-07-31 15:34] wpnzach commented on #2552
Moved priority back to high as this is a breaking issue again.  As an example, make a new form and set 한국 as the field label.  Field key will be just a string of numbers, and the nf-row div will not contain any data for this field when previewed.

[2017-07-31 23:38] binarykitchen opened #2938 "Class ‘NF_Admin_AddFormModal’ not found"
A customer of mine seeing this error on latest version 3.1.6

[code]

Happens when he tried to activate the plugin.

[2017-08-01 02:48] binarykitchen commented on #2938
customer solved himself by force removing and reinstalling stuff.

[2017-08-01 02:48] #2938 closed

[2017-08-01 15:12] klhall1987 opened #2939 "[nf_sub_seq_num] is not being converted"
Currently the [nf_sub_seq_num] is not converted when upgrading to 3.0. We need to convert this to the submission sequence merge tag.

[2017-08-01 15:16] klhall1987 opened #2940 "Apostrophe is being added added to fields in the email action's CC setting during conversion."
If an email action has values in the CC setting in 2.9.x and is converted, then apostrophes are being added in between each of the merge tags. I have not test all other advanced settings in the email actions, so this probably needs to be done as well(http://nimb.ws/hoOWTl).

[2017-08-01 15:34] klhall1987 commented on #2940
@wpnzach said to add this to the top 5

[2017-08-01 15:34] klhall1987 commented on #2939
@wpnzach said to add this to the top 5

[2017-08-01 18:12] #2060 closed

[2017-08-01 18:12] #2860 closed

[2017-08-01 18:12] #2867 closed

[2017-08-01 18:12] #2902 closed

[2017-08-01 18:12] #2423 closed

[2017-08-01 18:12] #2542 closed

[2017-08-01 18:12] #2545 closed

[2017-08-01 18:12] #2889 closed

[2017-08-01 18:12] #2916 closed

[2017-08-01 18:12] #2917 closed

[2017-08-01 18:12] #2931 closed

[2017-08-01 18:21] jmcelhaney opened #2942 "The Word "of" in the Word/Character Count needs to be translatable."
The Word "of" needs to be translatable.
https://github.com/wpninjas/ninja-forms/blob/c2cf72107a02764cac0f67367307611de72a7361/includes/Templates/field-input-limit.html

[2017-08-01 20:40] alexstandiford opened #2945 "Un-named Form Submission Causes Confusing"
When a form is submitted without a name, the form listing displays the chosen form as a blank value:
![image](https://user-images.githubusercontent.com/8210827/28845893-81fec910-76d7-11e7-83a5-4be59ac71974.png)

Additionally, when the form is blank, it displays as a blank form in the widget form's select box.
![image](https://user-images.githubusercontent.com/8210827/28845967-bb34c2c0-76d7-11e7-8d

[2017-08-01 20:43] alexstandiford opened #2946 "Ninja Forms Title Displays Regardless of if "Display Title" is Checked or Not"
Regardless of if the "Display Title" widget option is checked, the Ninja Form title is displayed.

**When my widget is configured like this:**
![image](https://user-images.githubusercontent.com/8210827/28846129-3cbe6120-76d8-11e7-9bb1-65dd929e5032.png)

**I get this:**
![image](https://user-images.githubusercontent.com/8210827/28846115-30e6b1b8-76d8-11e7-99d1-7ca1f59603da.png)

**I expected this:*

[2017-08-02 09:21] tl1992 opened #2947 "Checkbox list: checked items not visible in e-mail"
I've created a form with a checkbox list. When filling in the form and selecting some options, the options aren't visible in the e-mail.

Does anyone recognize this problem?

[2017-08-02 10:40] crmpicco commented on #2708
I'm interested to know if this feature has been implemented or if it is on a roadmap.

[2017-08-02 10:56] ekajatik commented on #2588
This was my issue originally. The issue remains and I am keen to know if its been resolved so we can remove the workarounds we were forced to create to accommodate additional validation.

[2017-08-02 13:48] wpnzach commented on #2933
The issue is that is significantly impacts the builder and builder functionality for these users.  It makes Ninja Forms appear super broken, causes support issues, and is additionally a pain for support to work with when it occurs.  If it can't be done, that's one thing...but if there's a way to do it, it would be really valuable to do.

It's against standard practice, but so is taking over the Wo

[2017-08-02 13:48] #2911 closed

[2017-08-02 13:49] MongolianMisfit opened #2949 "Add support for Google's new Invisible reCAPTCHA"
User's request below--

"Google just recently released their new Invisible reCAPTCHA, which aims to detect spam bots without any user interaction whatsoever. It looks really cool from a UX standpoint, and I'd love it if you guys could get this integrated in to your plugin. I think a setting when inserting the reCAPTCHA for "Visibility" would probably work great. Something like:

Visibility:

- Vis

[2017-08-02 13:54] Much2tall commented on #2949
Already a submitted PR for this feature at https://github.com/wpninjas/ninja-forms/pull/2638

[2017-08-02 13:54] #2949 closed

[2017-08-02 14:02] unipheas commented on #2552
I'm having the same issue but with Chinese. The workaround listed up top worked for now. I prepended "zh_" on every element and they are now displaying.

[2017-08-02 14:59] Much2tall opened #2950 "Locale Settings"
- [ ] Store locale settings as Form data
-  [ ] Check backwards compatibility
- [ ] Extract locale mask to Helper class
- [ ] Create locale mask for js
-  [ ] builder
-  [ ] front-end
- [ ] Convert all stored number data in js to US locale
- [ ] Convert all saved data in subs to US locale
- [ ] Cross-check compatibility with Payment Gateway add-ons

[2017-08-02 15:03] jmcelhaney opened #2951 "Create the ability to display the total submissions on the front-end of the site via merge tag"
Create the ability to display the total submissions on the front-end of the site via shortcode

[2017-08-02 18:02] klhall1987 opened #2953 "Field setting drawer will not open for duplicated list fields"
If a form a has a list field that has been duplicated a JS error will be thrown and the drawer will not open for that list field.

JS Error:
optionRepeaterComposite.js:190 Uncaught TypeError: Cannot read property 'get' of undefined
    at n.maybeHideNew (optionRepeaterComposite.js:190)
    at n.onRender (optionRepeaterComposite.js:80)
    at Object._triggerMethod (backbone.marionette.min.js?ver=4.

[2017-08-02 20:07] wpnzach opened #2954 "Currency field mask doesn't exist in 3.0 - CONVERSION ISSUE"
In 2.9, if a field has a currency mask, this doesn't convert to 3.0 and causes this issue on the front end:
![image](https://user-images.githubusercontent.com/7498743/28892583-77feb374-779c-11e7-825b-5688ffd8c4df.png)

For reference, the above is the 3.0 output of a field converted from 2.9 with a currency input mask
and a default value of 500

[2017-08-02 20:08] wpnzach commented on #2954
duplicate of #2927

[2017-08-02 20:11] wpnzach commented on #2895
Increased priority for this issue based on customer feedback.  Does not work in most addons, including Trello

[2017-08-02 20:11] wpnzach commented on #2697
Increasing priority based on customer feedback

[2017-08-02 20:26] wpnzach commented on #2895
duplicate of #2294

[2017-08-02 20:26] #2895 closed

[2017-08-02 20:26] wpnzach opened #2955 "Sequential number not available in some actions (Trello and others)"
Sub number is not parsed.  This is needed by actions like Trello, Zapier, emails, etc and doesn't always process for these.

[2017-08-02 23:16] espitia opened #2956 "Loading Spinner indefinitely"
The loading spinner stays loading indefinitely. I took a look at the dev console and got the following error:

`Uncaught TypeError: Cannot read property 'set' of undefined
    at n.registerConfirmListeners (front-end.js:1)
    at n.<anonymous> (front-end.js:1)
    at _ (backbone.min.js:1)
    at m (backbone.min.js:1)
    at f (backbone.min.js:1)
    at u.Channel.u.trigger (backbone.min.js:1)
    a

[2017-08-03 14:53] MongolianMisfit opened #2959 ""Confirm" field to ensure two fields match"
Needed for users who want to double confirm email addresses. @kjohnson believes the code is already there and just needs extended to a "Confirm" field that can match any other field.

[2017-08-03 16:02] hatsumatsu opened #2961 "Bug: Field not showing when key is set to numerical value"
Test case:

1. Create a form with a text field and a submit button, embed the form into a page: The field is shown
2. Change the text field's field key to a numerical value like `1`.
The field disappears from the form.

Plugin version: Version 3.1.8
Wordpress version: 4.8.1

[2017-08-03 18:07] klhall1987 commented on #2336
Could not replicate the issue in the current version. I had @wpnzach test as well. I'm going to close this issue, if it arises again we will fix it then.

[2017-08-03 18:07] #2336 closed

[2017-08-03 18:20] klhall1987 commented on #2954
I have marked this issue as a high priority. We will come back and fix this bug after @Much2tall is done creating local settings https://github.com/wpninjas/ninja-forms/issues/2950. This will allow us to fully fix the issue instead of just putting a bandaide on the problem.

[2017-08-03 18:49] klhall1987 commented on #2310
Field settings that use an RTE also appear to lose their formatting upon conversion(like description or help text).

[2017-08-03 19:05] klhall1987 opened #2962 ""before everything" description setting"
In 2.9.x, we had a field setting for description that put the text before everything. We might want consider adding this back in at least for conversion. As it makes 3.0 look buggy if users had text before the field in 2.9.x and it is after the label in 3.0.

[2017-08-04 11:54] jameslaws commented on #2961
We probably need to add an error check for numeric field keys. Keys should generally follow the same naming conventions of pho functions I believe. Letters and underscores. Numbers only after a letter has first been used. No spaces. That's kind of thing.

[2017-08-04 13:33] #2926 closed

[2017-08-04 13:33] #2928 closed

[2017-08-04 13:33] #2939 closed

[2017-08-04 13:33] #2940 closed

[2017-08-04 13:33] #2953 closed

[2017-08-04 13:37] Much2tall commented on #2955
If I remember correctly, submission number is not available until processing has completed. It's possible that we can do a better job of grabbing that before actions fire, but we'd need to look into it to confirm.

[2017-08-04 13:39] wpnzach opened #2963 "Apostrophe's break in field labels in builder"
In a field label, add an apostrophe.  Click off of that field onto another field.  Click back to the first field, then click off of it again.  The apostrophe will be replaced with "&#x27;"

[2017-08-04 13:41] Much2tall commented on #2956
@espitia
We're not seeing that on our local environment.
It's possible that another plugin or possibly your theme could be causing the issue.
For further troubleshooting, please contact our support team (https://ninjaforms.com/contact/).

[2017-08-04 13:41] #2956 closed

[2017-08-04 13:42] Much2tall commented on #2959
I think the code may already exist, yeah. The question is how we want to apply it.

[2017-08-04 13:45] Much2tall commented on #2961
Closing in favor of discussion at https://github.com/wpninjas/ninja-forms/issues/2552

[2017-08-04 13:45] #2961 closed

[2017-08-04 13:51] Much2tall commented on #2963
It's probably interpreting it as code, and when it's incompleted, escaping it.
&apos; should be used instead where possible. We'll have to look into it.

[2017-08-04 13:54] Much2tall commented on #2947
@tl1992
We're unable to reproduce this locally.
In order to resolve your issue, please contact our support team (https://ninjaforms.com/contact/).

[2017-08-04 13:54] #2947 closed

[2017-08-05 08:07] amdrew opened #2964 "Make Confirm Password Field fail gracefully."
While troubleshooting a customer's site I found that a form with a `Confirm Password` field generates the following JS error and causes the form to not show:

`TypeError: t is undefined`

WP 4.8.1
Ninja Forms 3.1.9

Replicated on customer's site, 2 local sites and 1 live site. To replicate:

1. Create new WordPress site
1. Activate Ninja Forms
1. Add blank form
1. Add `Password Confirm` field
1. P

[2017-08-06 02:53] Dwarve commented on #2265
@DustinWStout Unable to duplicate on current version. If this is still an issue, please include instructions on how to replicate.

[2017-08-06 03:43] Dwarve commented on #2710
Unable to replicate this issue on the newest release. I was able to replicate on an older build per the original post, but current build is emailing correctly. If anyone is still having this issue after updating, please give some additional details to your Wordpress setup and form layout so I can try to replicate.

[2017-08-07 14:23] wpnzach opened #2966 "Input masks cannot contain ".""
User asked if this was possible in support so I tried to make a form with a "." in the input mask and it breaks the form rendering on the front end with the error below in the console.

front-end--inputmask.min.js?ver=3.1.8:1 Uncaught TypeError: n.split is not a function
    at a.fn.init.mask (front-end--inputmask.min.js?ver=3.1.8:1)
    at n.onRender (fieldItem.js:55)
    at Object._triggerMethod

[2017-08-07 14:30] kjohnson commented on #2955
@wpnzach actions that need context of the sequential number (if it exists) need to process after the Store Submission action.

ie Trello is currently set as timing 'normal', where as it should be timing 'late'.

This requires issue for each of the actions in question.

[2017-08-07 14:30] #2955 closed

[2017-08-07 14:40] kjohnson opened #2967 "Add function_exists check for fopen"
Had a customer report that their server has `fopen` disabled, but is throwing errors.

While this is unlikely, there is a corresponding PHP setting that disables this function.
Therefor, we need to add a check to avoid throwing errors.

Note: This is only an issue when using PHP > v7 and `allow_url_fopen=0`.

---
Support Ticket: https://wpninjas.kustomerapp.com/app/customers/5987bf0dd9498500113529

[2017-08-07 15:03] klhall1987 opened #2968 "Add custom user meta merge tag"
We have had a user request a custom meta merge tag, similar to the{wp:user_first_name}.

[2017-08-07 15:13] kjohnson opened #2969 "Tax Field Conversion"
The "Tax" field does not appear to be converting as expected.
In THREE, the "Tax" field from a v2.9.x form is not recognized and the converted calculations do not account for the added tax.

v2.9.x Form:

| Fields |
| ------------- |
| List (Checkbox) |
| Subtotal |
| Tax |
| Total |
| Submit |

THREE Conversion"

| Fields | Calcs |
| ------ | ------ |
| Checkbox List | |
| Subtotal (HTML) | calc_

[2017-08-07 15:23] wpnzach commented on #2710
@Dwarve did you test with both inline quantity and using a separate quantity field?

[2017-08-07 15:37] Dwarve commented on #2710
@wpnzach Affirmative. Last test I did just to make sure I wasn't crazy was an unpublished form (on preview page) with 1 inline and 1 separate qty. The email showed both product prices and the total was correct.

[2017-08-07 17:17] klhall1987 commented on #2964
Hey @amdrew,

The Confirm Password field needs a password field to be mapped to, so that it has something to confirm. But you're right we need to better handle this error. I'm going to change the name of this issue to better reflect the issue.

Thanks,

Kenny
WP Ninjas, LLC

[2017-08-07 17:21] klhall1987 opened #2970 "Optimize the merge tag queries only run when needed"
We had a users who reported queries running when they were not needed. The here is the data they sent us:

SELECT meta_key, meta_value
FROM wp_postmeta
WHERE post_id = 0
NF_MergeTags_WP->setup_post_meta()
1 call
NF_MergeTags_Deprecated->setup_post_meta()
1 call

I spoke with Kyle he said it looks like the queries are running on every page/post.

[2017-08-07 22:21] amdrew commented on #2964
@klhall1987 I did use a password field in combination with the password confirm field, I just simplified the example above for easier replication of the issue.

I've updated the test site now with both fields (by clicking the password field which auto-adds the confirm) field. Same error:

<img width="756" alt="screenshot 2017-08-08 10 20 51" src="https://user-images.githubusercontent.com/52581/290

[2017-08-08 01:22] georgeinggs commented on #1298
Don't suppose we have a fix for this yet by any chance?

[2017-08-08 13:57] kjohnson opened #2973 "Filter Country values in merge tags"
The Country field currently shows abbreviations in emails, as opposed to the name of the country.

[2017-08-08 14:25] wpnzach opened #2974 "Email "to" fields including TO, BCC, CC with multiple merge tags need logic to know when to truncate trailing commas"
It's a not-uncommon use case (two this week) where users might want multiple email addresses in the TO, CC, or BCC fields in the email actions.  The issue is that if merge tags are used for these, but the form is submit without one of these email addresses, the form will fail to submit because of the improper formatting of those fields.

An example use case might be a form registering several peop

[2017-08-08 16:05] #2967 closed

[2017-08-08 16:33] #2929 closed

[2017-08-08 19:39] kjohnson opened #2977 "Gutter update timing issue with domain change."
Related to wpninjas/ninja-forms-multi-part#104

Steps to Reproduce:
- Add fields to form.
- Change Domain to "Emails & Actions".
- Open an Action's settings drawer.
- Change Domain to "Fields" (without closing drawer).

The timing of the domain change, and the resulting drawer close, causes a visual artifact in which the gutter remains atop the field list.

[2017-08-09 10:00] feyazbeck commented on #2502
I am having the same issue as well! I have the latest greatest releases!

[2017-08-09 17:02] kjohnson commented on #43
Re-opening for re-consideration.

Version 1.4.1 of jQuery.MaskedInput was released in 2015.

[2017-08-10 15:13] wpnzach opened #2979 "No way to delete submission while editing"
There used to be a delete button when viewing an individual submission.  Currently submissions can only be trashed from the submissions list, but not from within a submission.

[2017-08-10 17:08] kjohnson commented on #2897
The recent update of WP Rocket no longer causes any issue with Ninja Forms. Closing.

[2017-08-10 17:08] #2897 closed

[2017-08-11 01:12] binarykitchen opened #2980 "Uncaught TypeError: Cannot read property 'fields' of undefined"
To reproduce, just go to https://www.deafsports.nz/contact-us/ and submit the form there.

It won't go to the confirmation page and this error gets printed in the console:

<img width="1376" alt="screen shot 2017-08-11 at 13 12 16" src="https://user-images.githubusercontent.com/177641/29198298-bd474a94-7e96-11e7-8714-8a4b02e9d02e.png">

[2017-08-11 13:23] Much2tall commented on #2980
Looks like admin-ajax is failing to return valid data, and it's freaking out.

Should probably have a try/catch block for that.

[2017-08-11 13:42] kjohnson opened #2981 "Premature validation for fields on newly shown parts."
When a part is newly shown, fields that were previously "clean" are being validated prematurely.
This causes a "required fields" error to show before the user sees the required field.

| Part One | Part Two |
| --- | --- |
| Select | Textbox (*clean*) |
| | Submit |

---
Reference: [Customer Ticket](https://wpninjas.kustomerapp.com/app/customers/595e5c11391cce0011272e03/event/59842e66375f710011cfb

[2017-08-14 13:55] klhall1987 opened #2983 "Recaptcha not being reloaded on forms that have the "hide successfully submitted form" option turned off"
If a form has the "Hide successfully submitted form" option turned off(http://nimb.ws/JWG2ct) then the Recaptcha isn't reloading after submission(http://nimb.ws/j0QLEI).

Replication Steps:
1. Create a form with a text box and recaptcha.
2. Goto "Advanced" tab->Display Settings and turn off the Hide successfully submitted form option.
3. Publish, Preview and submit the form you'll see that the rec

[2017-08-14 13:59] klhall1987 opened #2984 "Merge tags in HTML fields not being reloaded on forms that have the "hide successfully submitted form" option turned off"
If a form has the "Hide successfully submitted form" option turned off(http://nimb.ws/JWG2ct) merge tags in HTML Fields aren't reloading after submission, the most notable is calculation merge tags.
(http://nimb.ws/ySX0tO).

Replication Steps:

1. Create a form with a number field, html and calculation of the number field.
2. Goto "Advanced" tab->Display Settings and turn off the Hide successfully

[2017-08-14 15:05] Much2tall opened #2985 "Prevent Firing of Multiple Collect Payment Actions"
Need some way of detecting multiple Payment Actions on a Form and deactivating all but one.
(Conditional Logic and Save Progress might overwrite in some way.)

[2017-08-14 18:47] kjohnson commented on #2835
Closing in favor of wpninjas/ninja-forms-videomail#35.

[2017-08-14 18:47] #2835 closed

[2017-08-14 21:10] kjohnson opened #2988 "Database Charset Collation"
~WordPress tables, ie `wp_options`, are setup with the `utf8mb4` character set collation (as of [v4.2](https://make.wordpress.org/core/2015/04/02/the-utf8mb4-upgrade/)).~

~Ninja Forms is currently installing tables based on the character set collation defined by `$wpdb`.~

~This creates a situation where the character set collations are different (between Ninja Forms and WordPress).~

~Moving for

[2017-08-15 13:18] wpnzach opened #2989 "Confirm fields stop form render if target field not selected"
Confirm fields stop form render if target field not selected.  Can we have a more graceful fallback here?

[2017-08-15 15:12] wpnzach commented on #2925
Also appears strangely when other label positions chosen, all might need some small tweaks

[2017-08-15 19:19] Much2tall opened #2990 "Optimize Query"
includes/Display/Render.php (89)

Needs to be updated for better performance.

[2017-08-15 20:47] drewcovi commented on #1817
@kstover is this currently dead or will the custom implementation somehow integrate into the default Wordpress API? It seems if a host is blocking the REST API that's something that wouldn't reflect poorly on Ninja Forms.

[2017-08-16 15:03] MongolianMisfit opened #2991 "Feature Request: Timepicker Element"
User request for a timepicker element in 3.0
-with the option of 12 or 24 hour formats
-with hour and minute inputs or the option to round to the hour

[2017-08-16 16:27] wpnzach opened #2993 "If calc values added to checkbox, calc values overwrite merge tag output"
If calc values added to checkbox, merge tags for checkbox show calc values instead of their normal submission values.  This does not seem to affect submission values.

Because on conversion these are auto-filled with 1 and 0, this can cause issues with converted forms.

[2017-08-17 19:10] kjohnson opened #2994 "WordPress.com VIP Audit"
### HTML string construction

- [x] /assets/js/builder/controllers/app/changeMenu.js
- [x] /assets/js/builder/views/actions/actionItem.js
- [x] /assets/js/builder/views/actions/drawer/typeButton.js
- [x] /assets/js/builder/views/app/drawer/itemSetting.js
- [x] /assets/js/builder/views/app/drawer/optionRepeaterComposite.js
- [x] /assets/js/builder/views/app/drawer/optionRepeaterOption.js
- [x] /ass

[2017-08-17 21:28] Accuraty commented on #2454
Months later, now Aug 17, 2017, I am running Version 3.1.9 of Ninja Forms and we are now getting this error sometimes, but not others.

I do not think the warning above the error is relevant because it appeared on page load. Whereas the grecaptch error appears immediately after clicking submit.

![image](https://user-images.githubusercontent.com/653301/29434562-14cfeee8-8369-11e7-8a9f-383e6825fc4a

[2017-08-18 13:44] wpnzach opened #2996 "Merge tag selector unusable at bottom of field/action settings"
See screenshot from user here: https://www.dropbox.com/s/samg5f0be06a1xe/2017-08-05.png?dl=0

Once the selector opens the page cannot be scrolled.  Even if you scroll down in the drawer, part of the selector will still be obscured.

[2017-08-18 13:50] Much2tall commented on #2991
So, a Time Field?
Or maybe an expansion of the Date Field?

[2017-08-18 14:15] Anguel opened #2997 "Problems with text between < and > #617"
This issue has been reported as solved, but I still experience the problem in v.3.1.9

https://github.com/wpninjas/ninja-forms/issues/617

Can you please check again. Thanks.

[2017-08-18 14:35] kjohnson commented on #2997
Closing in favor of #617.

[2017-08-18 14:35] #2997 closed

[2017-08-18 14:51] wpnzach commented on #2979
Also, do we need to view trash can?  no way currently

[2017-08-18 16:36] kjohnson commented on #617
Reported by @Anguel #2997 .

[2017-08-18 16:38] kjohnson commented on #617
@Anguel can you submit an official support request?
https://ninjaforms.com/contact

I'm not able to reproduce this locally.

However, if you reference this issue, #617, in your support request then our team can investigate the issue on your site specifically.

[2017-08-18 16:38] #617 closed

[2017-08-18 16:44] kjohnson commented on #2959
I created a "Email Confirm" field, which is based on the "Password Confirm" field.
See https://github.com/kjohnson/ninja-form-email-confirm

It should be easy enough to create a generic "Confirm" field.

[2017-08-18 16:53] kjohnson commented on #2994
@Much2tall I created branch issue#2994

[2017-08-18 18:33] Quay3 commented on #2751
Another report of this issue here:

https://wpninjas.kustomerapp.com/app/customers/59969d3b3de45900110faef0/event/5994268535623400117b4363

I also tried on my mobile (Nexus 5X) and was not able to to view submissions either.

[2017-08-20 04:07] MongolianMisfit commented on #2991
The recent ticket requesting this was referencing an expanded date field. However, I time field would suffice. Of course how this is implemented, may warrant dev discussion.

[2017-08-20 13:39] jameslaws commented on #2968
This already exists: https://db.tt/ySsH9GlIaA

[2017-08-20 13:43] jameslaws commented on #2968
After a quick convo with @klhall1987 he clarified that this would be for customer "user" meta.

[2017-08-21 03:43] klhall1987 opened #2998 "Product fields currency symbol's are not being display if per form currency setting is on site default currency setting"
Product fields are not showing currency symbols on the front end. If you change the per form currency setting then the symbol will be displayed on the front end.

[2017-08-21 11:50] MongolianMisfit opened #2999 "Feature Request - Add Custom Currency Symbol Setting"
Users requesting to have a setting to allow them to set a custom currency symbol.

[2017-08-21 14:47] kjohnson opened #3000 "Star Rating Default Value"
The Star Rating field's default value is currently used to determine how many stars to display.

This default value is submitted as the value when no other value is selected, but doesn't show as the value.

**Suggestion**: Update the `fieldStarRating.js` controller to reset the value after initial render.

---
Reference: https://wpninjas.kustomerapp.com/app/customers/599975e70ace03001103ef5f/event

[2017-08-21 14:51] kjohnson commented on #3000
Related to #2815 as the number of stars is the default value.

[2017-08-22 12:37] klhall1987 commented on #2999
@MongolianMisfit This is being worked on right now by @Much2tall in the local settings. I'm going to close this issue, since it's already being worked on in another project.

[2017-08-22 12:37] #2999 closed

[2017-08-22 17:05] Much2tall opened #3002 "View New Submissions"
Provide a way to view new submissions without displaying them in the individual Form Submissions Tables.

This allows users to see what changed (at a glance) since their last visit, without having to sort through all individual Form listings.

[2017-08-22 18:04] wpnzach opened #3003 "Redirect to new window?"
Seems like an easy thing to add...some users want to open a new window but still keep their own users on their site after form submission.  Would allow success message and redirect at the same time.  Thoughts?

[2017-08-22 18:57] wpnzach opened #3004 "Date field bugs"
If an invalid date is placed into a date field, we still allow form submission if the field is required.  We need to check for the proper date format before we allow form submission and give the user a relevant error.  Also, from a user:

"If you type 09/1a/2012 in as a date, it will automatically change the date to a valid (but necessarily correct) date when you move off the field to another one

[2017-08-22 21:35] run7even opened #3005 "Merge Tags Not working"
Hi,

I have created a form using ninja forms, my favorite form builder ever. In 2.0, adding fields was no problem. However in 3.0, I am unable to create a "Confirm Your Details" page on my form because the merge tags are displayed on the front end.

Basically, I create a multipart form. Add final part, add some merge tags like {all_fields_table}, fill out my form, and I just see the merge tag shor

[2017-08-23 09:52] quornik commented on #1561
This is still an issue, currently meta box does not show on custom post types.

[2017-08-23 14:41] jmcelhaney opened #3006 "The Number Field is allowing non-numeric characters to be entered into it"
The Number Field is allowing non-numeric characters to be entered into it:

From the user (which I was able to confirm locally)
-Using Safari, you can type all non-integer characters in the Quantity fields.
-Using Firefox, you can type all non-integer characters in the Quantity fields.
-Using Chrome, the following non-integer characters can be entered: e (lower case 'e'), E (upper case 'E'), + (pl

[2017-08-23 15:04] roborourke commented on #1987
IE11 is still pretty widely used. Would at least be good to get a list of the unsupported functions used so they can be polyfilled.

[2017-08-23 16:27] wpnzach opened #3007 "Submissions Page conflict with Yoast SEO plugin"
It looks like Yoast SEO is modifying the post query without checking what page it's on.  As a result, our Submissions page no longer respects the form ID and breaks the output when trying to view Ninja Forms submissions.  @kstover has asked that we look at the Yoast code: https://github.com/Yoast/wordpress-seo and find out where it breaks so we can notify their team

[2017-08-23 16:33] kjohnson commented on #3007
Related to Yoast/wordpress-seo#7750.

[2017-08-23 17:39] kjohnson commented on #3007
I believe that I tracked down the breaking commit.

yoast/wordpress-seo@26a19fa
![screenshot-2017-8-23 submissions issue3007 wordpress 1](https://user-images.githubusercontent.com/10858303/29629823-27cb0606-8808-11e7-9d6a-d6aa4f03a212.png)

Previous Commit: yoast/wordpress-seo@cb94368
![screenshot-2017-8-23 submissions issue3007 wordpress 2](https://user-images.githubusercontent.com/10858303/29629

[2017-08-24 15:03] wpnzach commented on #2925
Another use has complained about this issue

[2017-08-24 15:23] kjohnson commented on #2832
This seems to be theme specific.

For example, Twenty Seventeen sets all labels to `display:block`.

This is not the case in Twenty Sixteen or Twenty Fifteen.

[2017-08-24 15:24] kjohnson commented on #2832
This can be resolved by enabling "Opinionated Styles".

Ninja Forms -> Settings -> Advanced -> Opinionated Styles.

[2017-08-24 16:03] wpnzach opened #3008 "Twenty Seventeen Checkbox/Radio Lists"
![image](https://user-images.githubusercontent.com/7498743/29675766-23c8395e-88c4-11e7-9bbd-9c6d5d80f7ee.png)
Elements and labels do not appear on the same line

[2017-08-24 16:03] wpnzach commented on #3008
related to #2925

[2017-08-24 16:09] wpnzach opened #3009 "Add error styling to "select" fields"
If select field is required, it does not get any kind of highlight the way other input fields do.  Can we add some kind of red border to bring them in line with other required fields?  Whether the element itself or div holding it?

[2017-08-24 18:30] kjohnson commented on #2969
PR merged. Closing issue.

[2017-08-24 18:30] #2969 closed

[2017-08-24 18:48] kjohnson commented on #2490
If we handle the deleting with SQL, we may not need any step processing.

[2017-08-24 18:53] kjohnson commented on #2375
Looks like the above comments were addressed in the PR.
PR is merged.
Closing.

[2017-08-24 18:53] #2375 closed

[2017-08-25 11:44] kjohnson commented on #2979
I'm not seeing a "Delete" button in v2.9.x.

[v2.9.x] Submission Edit/View
![image](https://user-images.githubusercontent.com/10858303/29712720-3a70ef7a-8969-11e7-9a9e-fd5cbe826d49.png)

[2017-08-25 11:45] kjohnson commented on #2979
RE: Trash, no NF Subs do not currently support the "trash" status.

[2017-08-25 13:45] Much2tall commented on #3003
I'm a bit hesitant to introduce anything that includes a "popup" window into the product, but I can see where something like this might be useful.

[2017-08-25 13:48] Much2tall commented on #3005
@run7even

This repository is for the resolution of confirmed code errors. It is not a support channel.
In order to have your issue resolved, please submit a ticket to our support team at https://ninjaforms.com/contact/

-KR

[2017-08-25 13:48] #3005 closed

[2017-08-25 13:51] Much2tall commented on #3009
Select lists are tricky because the browser controls their display to some degree, but I'm sure we can come up with something to indicate there's been an error.

[2017-08-25 13:54] Much2tall commented on #3008
Opinionated Styles correct this when enabled.
Does that still make it a bug?

[2017-08-25 14:02] janhenkes opened #3011 "PHP Fatal error: Uncaught MailChimp_Error: MCThrift\\Login\\UnknownLoginAccount: No LoginAccount exists"
I am receiving the following error which results in 500 errors showing on our website:

[code]

I hope you guys can help me out!

[2017-08-25 14:12] run7even commented on #3005
i have , no response

On 25. Aug 2017, at 15:48, KR Moorhouse <notifications@github.com> wrote:

Closed #3005.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-25 15:51] kjohnson opened #3012 "Radio List Field Values"
When using a Radio List field the Option Value, as opposed to the Option Label, is being used for:
- Merge Tag Value
- Submission Export Value

In what situations should the Label vs the Value be used?

[2017-08-27 21:33] double3 commented on #2571
@Much2tall -- i know this thread is closed and the code has been merged, but maybe you'll see this and can help. i bought the PayPal Express add-on for Ninja Forms today. after installing and activating, it gave me this error ... "Ninja Forms was unable to get your TLS version. Please contact your host and ask about updating your environment to support TLS 1.2 and HTTP/1.1." I contacted my host (N

[2017-08-28 12:33] moorscode commented on #3007
Yoast SEO (& Premium) 5.3.3 has been released, which has patched this problem.

[2017-08-28 15:11] klhall1987 commented on #3008
Duplicate issue, https://github.com/wpninjas/ninja-forms/issues/2832

[2017-08-28 15:11] #3008 closed

[2017-08-29 01:05] binarykitchen commented on #2980
guys, my customer has reported this bug again and you can reproduce it very easily yourself here:
https://www.deafsports.nz/contact-us/

can we get this fixed soon pretty please?

and here some background information:
1. initial submit request is made from that code line within the videomail extension
[code]
2. which fires submit() in submit.js
3. and then this jQuery's error callback is triggered

[2017-08-29 01:05] binarykitchen commented on #2980
cc @Much2tall

[2017-08-29 12:51] joelflint commented on #1730
Ninja Forms Version 3.1.9 on WP 4.8 here.

I have a page with two different forms on it (newsletter signup, and contact). Both forms are rendering properly with different IDs (nf-form-1-cont and nf-form-2-cont). So the issues above in this thread could possibly be fixed. However, what I'm experiencing is that when error validation happens on one of the forms, it happens on both forms.

Not sure if

[2017-08-29 17:29] kjohnson commented on #2996
The `#merge-tag-box` element exists outside of the drawer, so that it maintains persistence outside of the drawer instance. However, being physically outside of the drawer prevents the drawer from inheriting the scrolling event.

[2017-08-29 18:23] isleshocky77 commented on #1730
@joelflint This particular is in reference to the same form (i.e. the same form id "nf-form-1-cont") being rendered more than once on a page. The reason it's a hard issue to solve is because all of the events are keyed off of this id and the way it's written it will only do it once. So the above issue has definitely not been solve - @kjohnson would love if this was re-opened just to keep track of

[2017-08-30 14:53] wpnzach opened #3013 "Required field errors should move entire row instead of single field"
Right now, if a required field is missed it shifts that field from the rest of the field row and looks really out of place.  If something needs to shift, it should expand the entire row instead of just that field.
<img width="826" alt="schermata 2017-08-29 alle 17 23 17" src="https://user-images.githubusercontent.com/7498743/29878800-70303f6a-8d71-11e7-8ec7-5cd6635c3c0e.png">

[2017-08-30 15:15] wpnzach opened #3014 "Sanitize list values of special characters"
Special characters in list values, such as parenthesis, break both conditions and calculations.  We need to sanitize the inputs or make them more robust to prevent issues in these areas.

[2017-08-30 15:20] wpnzach commented on #2979
If we don't support trash, then lets change the terminology on the submissions list in bulk actions and on the individual submissions to "delete" instead of "Trash."  Lets also add the button to the individual submissions.

[2017-08-30 16:19] kstover commented on #2980
@binarykitchen While it's absolutely true that we need better error handling in that instance, we do accept pull requests, and it's well within your power to fix those issues. We are a very small team and only have time to focus on so many issues.

You said:

It's not helpful to push a "your code" narrative when the success of Ninja Forms directly affects you as well. I'm sure that you don't mean

[2017-08-30 16:40] klhall1987 opened #3015 "Currency symbols in collect payment fixed amount is breaking payments"
If a user puts a currency symbol in their collect payment action's fixed amount, then it's causing the payment to fail. We probably need to poke-yoke this so user's can't enter a currency symbol here.

[2017-08-30 16:49] Much2tall opened #3016 "Exclusions from Date Field"
Ability to exclude specified dates or days of the week from the possible selections in a Date Field.

[2017-08-30 22:54] binarykitchen commented on #2980
sorry @kstover about my tone - probably i had a bad day myself and indeed i didn't mean it that way. i know you have lots of issues to process and are a small team. respect for that!

thanks so much for your attention and for adding this to the stabilisation project.

[2017-08-31 14:33] iowawesleyan commented on #3016
On Ninja Form's date picker field, I need the ability to exclude dates or days of the week

[2017-08-31 16:02] Much2tall opened #3018 "Default Value Merge Tag Conversion"
Need to do a dive of what Merge Tags aren't being properly updated during conversion from 2.9 to 3.

Known issues:
- [x] Querystring
- [x] Wordpress settings (wp:post_url, etc.)

[2017-08-31 18:51] deeannalynn commented on #2102
I am having this very same issue. I rolledback to 2.9 and now I can't get back to the new 3.1 version, the UI is stuck in 2.9 even though I updated the plugin, deactivated it, deleted, reinstalled... nothing is working.
I need serious help!

[2017-08-31 20:16] websbio commented on #2968
Any update on this? We receive many user complaints as they have to fill in their information each time they submit a form.

[2017-08-31 22:33] jameslaws commented on #2968
No movement on this. Once a month we go over feature requests we receive and determine which ones we want to pursue.

Then it has to fit into one of our current development focuses. If it doesn't it sits as an issue until it does fit into a started development focus.

[2017-08-31 22:36] jameslaws commented on #2102
Support is handled at https://ninjaforms.com/contact/

Our team will be happy to assist you there.

[2017-09-01 13:13] klhall1987 commented on #3011
Hey Janekes,

This issue is going to need some troubleshooting. Please submit a ticket to our support team(https://ninjaforms.com/contact/) and they will help you start tracking down this issue. I'm going to close this issue, as this repo is meant for troubleshooting issues with Ninja Forms Core.

Thanks,

Kenny
WP Ninjas LLC

[2017-09-01 13:13] #3011 closed

[2017-09-01 13:15] janhenkes commented on #3011
Bedankt voor uw bericht, van 31 augustus t/m 4 september ben ik afwezig. Bij urgente zaken kunt u contact opnemen met mijn collega's via 070 820 05 72 of door een mail te sturen naar helpdesk@jannesmannes.nl.

Met vriendelijke groet,
Jan Henkes

[2017-09-01 13:15] janhenkes commented on #3011
Bedankt voor uw bericht, van 31 augustus t/m 4 september ben ik afwezig. Bij urgente zaken kunt u contact opnemen met mijn collega's via 070 820 05 72 of door een mail te sturen naar helpdesk@jannesmannes.nl.

Met vriendelijke groet,
Jan Henkes

[2017-09-01 13:38] #3007 closed

[2017-09-01 18:48] kjohnson commented on #3018
v2.9.x Form Export: ["Default Value Conversion Test Form"](https://github.com/wpninjas/ninja-forms/files/1271215/DefaultValueConversionTestForm.zip)

[2017-09-01 19:11] kjohnson commented on #2468
Not a conversion issue, except that the v2.9.x defaults of `0` (zero) - which are `` (empty) in THREE - introduce this already existing issue.

[2017-09-01 19:21] wolfmaster8 commented on #2260
Hello, it's not locally. I had the same problem on a live site. I think it might be a JS minify problem using W3 Cache.

[2017-09-01 19:33] kjohnson commented on #1995
Possible duplicate of #1866.

[2017-09-01 19:35] kjohnson opened #3022 "Error when previewing an unpublished form."
![image](https://user-images.githubusercontent.com/10858303/29985010-29c1af76-8f2b-11e7-910f-89f83c97ad22.png)

[2017-09-01 19:42] kjohnson commented on #1995
As #1866 suggests, already resolved.

[2017-09-01 19:42] #1995 closed

[2017-09-01 19:53] kjohnson commented on #2970
This isn't a conversion issue.

[2017-09-01 19:57] kstover commented on #2807
@jameslaws Can you shine some light on this?

[2017-09-02 22:42] aardrian opened #3025 "Prevent duplicate ID attributes for form duplicated on a page"
**Request:**

In cases where the same form is embedded in a single page more than once, prevent the `id` attributes for each element in the form from being duplicated across each instance of the form in the same page. Perhaps append with a counter or some other method to make each `id` attribute unique.

**Why this is a problem:**

- The simplest reason is WCAG 2.0 A compliance (specifically [4.1.

[2017-09-04 17:11] klhall1987 opened #3026 "Give HTML fields the ability to display other form fields via merge tags"
Currently if a merge tag is used in an HTML field then the merge tag is displayed on the front end. This makes the product feel like it isn't working properly. We should make what ever value is populated in the field that the merge tag is from be populated in the HTML field.

[2017-09-05 06:49] anastasis92 opened #3027 "Issue when deleting fields"
When I delete a field from the form and click the publish button an infinite loop occurs. After I refresh the browser the field is not deleted.

[2017-09-05 13:36] Much2tall commented on #3027
@anastasis92

We're unable to reproduce this locally, and as this repository is for known, existing issues, please contact our support team for further diagnosis of the problem. (https://ninjaforms.com/contact/)

Our support staff would be happy to help walk you through resolving your problem.

[2017-09-05 13:36] #3027 closed

[2017-09-06 03:53] mikedamoiseau commented on #2911
This code does not take into account submissions that have been sent to the trash.
The SQL query should also check the `post_status` of the post in the table `$wpdb->prefix . 'posts'` (value of the field should be `publish`).
Or am I missing something here?

[2017-09-06 06:07] veidenbaums opened #3028 "Can't pass array using init action when Ninja Forms enabled"
Hi!

The issue is there that we try to pass a array by using init action, but it returns us a error notice, that is caused by your plugin, you can easy replicate it by:

1. Enable WP_DEBUG
2. Enable Ninja Forms plugin
3. Try to open a link like index.php?myaction=anyaction&data[test][first]=1&data[test][second] ( for example: http://localhost:8081/index.php?myaction=anyaction&data[test][first]=1&d

[2017-09-06 14:50] kjohnson opened #3029 "'console' is undefined in IE"
![image](https://user-images.githubusercontent.com/10858303/30118434-0f6e0e8e-92f1-11e7-874b-bf2009ad702c.png)

---
Reference: http://kevinquillen.com/ie/2014/06/11/ie-console-woes

[2017-09-06 14:52] wpnzach opened #3030 "Enforced unique number per submission"
Sequential number is used by a lot of users who want a unique ID per form submission.  Unfortunately, the sequential number is not guaranteed unique across form submissions.  We need an option os extra value that is.

[2017-09-06 14:53] wpnzach opened #3031 "Some plugins modify the ninja-forms-app class name"
More details explained in: https://wordpress.org/support/topic/plugin-conflict-with-draw-attention/#post-9471217

How can we stop this from happening?  @kjohnson mentioned defining that class name later in the page load.

[2017-09-06 14:56] wpnzach opened #3032 "Sort on column headings in submission view"
This has been requested by a few users.

[2017-09-06 17:11] Much2tall commented on #2449
Might have already been resolved.
Needs testing.

[2017-09-06 17:15] kjohnson commented on #2962
THREE introduced an opinionated style for description positions.

[2017-09-06 17:15] #2962 closed

[2017-09-06 18:02] Much2tall commented on #2449
Appears to have been addressed here https://github.com/wpninjas/ninja-forms/pull/2884

[2017-09-06 18:02] #2449 closed

[2017-09-06 18:36] kjohnson opened #3034 "Remove auto-optin from conversion process"
As Ninja Forms THREE moves farther from initial release and becomes the default codebase, we should remove any auto-optin that was added during the "beta" phase.